In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('data/2021_주말.csv', encoding='utf-8', sep=',')

In [14]:
df.drop(columns=['평일주말'], inplace=True)

In [16]:
df.to_csv('월별_주말/2021_주말_0530.csv', index=False, encoding='utf-8')
df1 = pd.read_csv('월별_주말/2021_주말_0530.csv', encoding='utf-8', sep=',')
df1

           사용일자    호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수
0      20210102    9호선     노들    1719    1527     3246
1      20210102  우이신설선  삼양사거리    1112    1102     2214
2      20210102  우이신설선     삼양     917    1019     1936
3      20210102  우이신설선     화계    1470    1315     2785
4      20210102  우이신설선    가오리    1653    1625     3278
...         ...    ...    ...     ...     ...      ...
62441  20211226    8호선     암사    7207    7005    14212
62442  20211226    7호선   부평구청    2769    2615     5384
62443  20211226    7호선    굴포천    3769    3821     7590
62444  20211226    7호선  삼산체육관    2072    2018     4090
62445  20211226    7호선     상동    5930    5652    11582

[62446 rows x 6 columns]