In [1]:
import pandas as pd

In [46]:
df = pd.read_csv('test4.csv')
# df.drop(columns=['등록일자'],inplace=True)
df.head()

       사용일자  호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수
0  20210101  일산선     백석    2724    2825     5549
1  20210101  일산선     마두    1638    1652     3290
2  20210101  3호선  을지로3가    1024    1009     2033
3  20210101  3호선   종로3가    1255    1632     2887
4  20210101  3호선     안국    2934    3029     5963

In [8]:
cols = list(df.columns)[:3]
target = list(df.columns)[3:]
df_list = []
# 반복문에 해당되지 않는 범위는 수동으로 구해서 
for i in range(2, 28, 7): # 사용할때 여기 수정 해당 월에 맞게   여긴 1월2일이 월요일이라 2일 부터 시작 30,31일 데이터는 추가로 더해야함
    start_date = 20230100 + i   # 여기도 조건에 맞게 수정
    end_date = start_date + 5
    df_temp = df[(df['사용일자'] >= start_date) & (df['사용일자'] < end_date)].copy()
    df_temp = df_temp.groupby(cols)[target].agg('sum').reset_index()
    df_list.append(df_temp)
df_1 = pd.concat(df_list, axis=0)
df_1['사용일자'] = 202301
df_1 = df_1.groupby(cols)[target].agg('sum').reset_index()

In [8]:
df.head()

       사용일자  노선명     역명  승차총승객수  하차총승객수
0  20230101  경강선    곤지암    1450    1539
1  20230101  2호선    신도림   20210   21037
2  20230101  2호선     문래    5995    6567
3  20230101  2호선  영등포구청    5629    6117
4  20230101  2호선     당산    6821    7594

In [10]:
df_1.shape

(612, 5)

In [ ]:
# 이렇게 12개월치 구한거
# df_res_list = [df_1,df_2,df_3 ....df_12] 리스트 안에 넣음
# df_res = pd.concat(df_res_list, axis=0) 합침
# 이거에 이제 역명 '(' 지우고 하는 작업하고
# 호선별로 나눈다음에
# line_merge 코드 짜둔거 사용해서 합치면 됨

In [95]:
df1 = df.copy()
cols = list(df.columns)[:3]
target = list(df.columns)[3:]

In [96]:
# '사용일' 열을 datetime 형식으로 변환
df1['사용일자'] = pd.to_datetime(df1['사용일자'], format='%Y%m%d')
# 평일과 주말 구분하는 새로운 열 생성
df1['주중/주말'] = df1['사용일자'].apply(lambda x: '주말' if x.weekday() >= 5 else '주중')
# 평일 데이터만 선택
weekday_df = df1[df1['주중/주말'] == '주중']

In [97]:
week_df = weekday_df.copy()
week_df['사용일자'] = pd.to_datetime(weekday_df['사용일자']).dt.strftime('%Y%m%d').astype(int)

In [99]:
week_df

            사용일자  호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수 주중/주말
0       20210101  일산선     백석    2724    2825     5549    주중
1       20210101  일산선     마두    1638    1652     3290    주중
2       20210101  3호선  을지로3가    1024    1009     2033    주중
3       20210101  3호선   종로3가    1255    1632     2887    주중
4       20210101  3호선     안국    2934    3029     5963    주중
...          ...  ...    ...     ...     ...      ...   ...
219274  20211231  6호선     월곡   10214    9924    20138    주중
219275  20211231  6호선    상월곡    5619    4842    10461    주중
219276  20211231  6호선    돌곶이    8265    7811    16076    주중
219277  20211231  6호선     석계   11189   11335    22524    주중
219278  20211231  6호선   태릉입구    4954    5290    10244    주중

[156833 rows x 7 columns]

In [108]:
df_list = []
for i in range(1, 13):
    start_date = 20210000 + i*100
    end_date = start_date + 100
    df_temp = week_df[(week_df['사용일자'] >= start_date) & (week_df['사용일자'] < end_date)].copy()
    df_temp['사용일자'] = 202100 + i
    df_temp = df_temp.groupby(cols)[target].agg('sum').reset_index()
    df_list.append(df_temp)
df_res = pd.concat(df_list, axis=0)

In [109]:
df_res.shape

(7285, 6)