In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('CARD_SUBWAY_MONTH_2021.csv',encoding='euc-kr',sep=',')
df.drop(columns=['등록일자'], inplace=True)
df.head()

       사용일자  노선명     역명  승차총승객수  하차총승객수
0  20210101  일산선     백석    2724    2825
1  20210101  일산선     마두    1638    1652
2  20210101  3호선  을지로3가    1024    1009
3  20210101  3호선   종로3가    1255    1632
4  20210101  3호선     안국    2934    3029

1. 데이터 확인 - 인덱스, 행열 정렬, 결측치 등 -> 필요시 수정

2. 역명 수정

In [2]:
# 공항철도 1호선 ->공항철도
# 경복궁(정부서울청사) -> 경복궁
df.역명 = df['역명'].str.replace('(',' ',regex=True).str.split().str[0]
df.노선명 = df['노선명'].str.replace(' ',' ',regex=True).str.split().str[0]
df.iloc[500:505]    # 공항철도

         사용일자   노선명   역명  승차총승객수  하차총승객수
500  20210101   경춘선  김유정     120     130
501  20210101   경춘선  남춘천     952     907
502  20210101   경춘선   춘천     533     502
503  20210101  공항철도  서울역    2366    2474
504  20210101  공항철도   공덕     543     759

In [3]:
df.노선명.value_counts()

5호선         20185
7호선         18615
2호선         18250
경부선         14235
6호선         13731
분당선         12545
3호선         12271
경원선         10671
경의선          9588
4호선          9490
9호선          9125
중앙선          7665
경인선          7300
경춘선          6935
수인선          6570
8호선          6219
공항철도         5110
안산선          4745
우이신설선        4745
9호선2~3단계     4745
경강선          4015
일산선          3701
1호선          3650
과천선          2920
장항선          2253
Name: 노선명, dtype: int64

In [4]:
# 9호선2~3단계 -> 9호선
# df['노선명'] = df['노선명'].str.replace('')

In [22]:
df1 = df[(df['사용일자'] >= 20210101) & (df['사용일자'] < 20210132)].copy()
df1.to_csv('202101_.csv', index=False, encoding='utf-8')
df1.iloc[500:505]    # 공항철도

         사용일자   노선명   역명  승차총승객수  하차총승객수
500  20210101   경춘선  김유정     120     130
501  20210101   경춘선  남춘천     952     907
502  20210101   경춘선   춘천     533     502
503  20210101  공항철도  서울역    2366    2474
504  20210101  공항철도   공덕     543     759