In [4]:
import pandas as pd

In [5]:
df_main = pd.read_csv('data/main/lines/주말/2호선.csv')
df_main.head()

      사용월  호선명     지하철역  승차총승객수  하차총승객수  승하차총승객수
0  202101  2호선       강남  304638  295939   600577
1  202101  2호선       강변  149398  146936   296334
2  202101  2호선     건대입구  192524  206323   398847
3  202101  2호선       교대   91008  100335   191343
4  202101  2호선  구로디지털단지  206159  207477   413636

In [8]:
df_latlng = pd.read_csv('data/main/stn_r_addr_final.csv')
df_latlng.head()

  지하철역                도로명주소        lat         lng
0   계양     인천광역시 계양구 다남로 24  37.571609  126.736023
1   귤현   인천광역시 계양구 장제로 1136  37.566413  126.742649
2   박촌    인천광역시 계양구 장제로 992  37.554143  126.745539
3   임학    인천광역시 계양구 장제로 875  37.545062  126.738623
4   계산  인천광역시 계양구 경명대로 1089  37.543290  126.728081

In [9]:
df_latlng.drop(columns=['도로명주소'],inplace=True)

In [10]:
res = pd.merge(df_main,df_latlng,on='지하철역',how='left')
res.head()

      사용월  호선명     지하철역  승차총승객수  하차총승객수  승하차총승객수        lat         lng
0  202101  2호선       강남  304638  295939   600577  37.498165  127.028308
1  202101  2호선       강변  149398  146936   296334  37.535169  127.094665
2  202101  2호선     건대입구  192524  206323   398847  37.540419  127.069173
3  202101  2호선       교대   91008  100335   191343  37.492818  127.013838
4  202101  2호선  구로디지털단지  206159  207477   413636  37.485315  126.901494

In [11]:
res.to_csv('line2_test.csv',index=False)

In [16]:
# # 호선 합치기전 버전
# import pandas as pd

# df_latlng = pd.read_csv('data/main/stn_r_addr_final.csv')
# df_latlng.drop(columns=['도로명주소'], inplace=True)

# lines = '1호선 2호선 3호선 4호선 5호선 6호선 7호선 8호선 9호선 수인분당선 경의중앙선'.split()
# temp_list = []
# for line in lines:
#     df_main = pd.read_csv(f'data/main/lines/{line}.csv')
#     temp = pd.merge(df_main, df_latlng, on='지하철역', how='left')
#     temp_list.append(temp)
#    # res.to_csv(f'data/main/heatmap_files/{line}_test.csv', index=False)
# res = pd.concat(temp_list,axis=0)

In [19]:
# res.to_csv('data/main/heatmap_files/lines_4heatmap2.csv',index=False)

In [12]:
# 이거 쓸꺼임
import pandas as pd

df_latlng = pd.read_csv('data/main/stn_r_addr_final.csv')
df_latlng.drop(columns=['도로명주소'], inplace=True)

In [14]:
########### 주말ver 파일저장 ######
df_main = pd.read_csv('data/main/lines/주말/merged_lines.csv')
res = pd.merge(df_main, df_latlng, on='지하철역', how='left')
res.to_csv('data/main/heatmap_files/lines_4heatmap_주말.csv', index=False)

In [15]:
########### 주중ver 파일저장 ######
df_main = pd.read_csv('data/main/lines/주중/merged_lines.csv')
res = pd.merge(df_main, df_latlng, on='지하철역', how='left')
res.to_csv('data/main/heatmap_files/lines_4heatmap_주중.csv', index=False)

``` 0601/14:30 히트맵파일 저장 완료 (주중, 주말ver) ```