In [1]:
import pandas as pd
import numpy as np
import folium
from folium.plugins import HeatMap

In [2]:
df = pd.read_csv('data/main/lines/주말/merged_lines.csv', encoding='utf-8', sep=',')
df.tail()

         사용월  호선명  지하철역  승차총승객수  하차총승객수  승하차총승객수
6924  202112  경춘선   천마산    8119    7892    16011
6925  202112  경춘선    청평    9660    9204    18864
6926  202112  경춘선    춘천    8941    8278    17219
6927  202112  경춘선   퇴계원   15928   14577    30505
6928  202112  경춘선  평내호평   26860   25816    52676

In [3]:
# df3 = df[(df['사용일자'] >= 20230101) & (df['사용일자'] < 20230106)].copy()

df_test = df[(df.사용월 >= 202101)&(df.사용월 < 202106)].copy()
df_test.tail()

         사용월  호선명  지하철역  승차총승객수  하차총승객수  승하차총승객수
6791  202105  경춘선   천마산   11859   11634    23493
6792  202105  경춘선    청평   16211   15226    31437
6793  202105  경춘선    춘천   16645   14719    31364
6794  202105  경춘선   퇴계원   22331   20932    43263
6795  202105  경춘선  평내호평   37568   37053    74621

In [4]:
df_test.drop(columns=['호선명','사용월'],inplace=True)
df_test.tail()

      지하철역  승차총승객수  하차총승객수  승하차총승객수
6791   천마산   11859   11634    23493
6792    청평   16211   15226    31437
6793    춘천   16645   14719    31364
6794   퇴계원   22331   20932    43263
6795  평내호평   37568   37053    74621

In [5]:
df_test = df_test[['지하철역','승하차총승객수']]
df_test.head()

      지하철역  승하차총승객수
0       가능    62123
1  가산디지털단지    86019
2       간석    50732
3       개봉   196659
4       관악    69852

``` lat, lng 추가작업하고 아래부터 시작하기```

In [ ]:
# res = result.groupby(cols)[target].agg('sum').reset_index()
df_test.groupby(['지하철역'])[['lat','lng','출근시간 승차인원']].agg('mean').reset_index()
df_test.head()

In [ ]:
df_test.drop(columns=['지하철역'],inplace=True)
df_test.head()

In [ ]:
target = '새벽 승차인원'
df_test = df[(df.사용월 >= 201501)&(df.사용월 < 202001)].copy()
df_test.drop(columns=['호선명','사용월'],inplace=True)
df_test = df_test[['지하철역','lat','lng',target]]
df_test.groupby(['지하철역'])[['lat','lng',target]].agg('mean').reset_index()
df_test.drop(columns=['지하철역'],inplace=True)
m = folium.Map(location=[37.394946, 127.111104], zoom_start=11)
data = df_test
HeatMap(data).add_to(m)
title_html = f'<h3 align="center" style="font-size:20px">{target}</h3>'
m.get_root().html.add_child(folium.Element(title_html))
m

In [ ]:
df = pd.read_csv('../line2_test.csv')

In [ ]:
target = '출근시간 승차인원'
df_test = df[(df.사용월 >= 201501)&(df.사용월 < 202001)].copy()
df_test.drop(columns=['호선명','사용월'],inplace=True)
df_test = df_test[['지하철역','lat','lng',target]]
df_test.groupby(['지하철역'])[['lat','lng',target]].agg('mean').reset_index()
df_test.drop(columns=['지하철역'],inplace=True)
m = folium.Map(location=[37.394946, 127.111104], zoom_start=11)
data = df_test
HeatMap(data).add_to(m)
popup = folium.LatLngPopup() # 좌표
m.add_child(popup) # 찍는 코드
title_html = f'<h3 align="center" style="font-size:20px">{target}</h3>'
m.get_root().html.add_child(folium.Element(title_html))
m

In [ ]:
# 여기서 부터 사용할 코드
# 히트맵으로 사용할
df = pd.read_csv('../data/main/heatmap_files/lines_4heatmap.csv')

In [ ]:
target = '출근시간 승차인원'
start_month = 201501
end_month = 202001
line = '9호선'

In [ ]:
df_test = df[(df.호선명 == line)&(df.사용월 >= start_month)&(df.사용월 < end_month)].copy()
df_test.drop(columns=['호선명','사용월'],inplace=True)
df_test = df_test[['지하철역','lat','lng',target]]
df_test.groupby(['지하철역'])[['lat','lng',target]].agg('mean').reset_index()
df_test.drop(columns=['지하철역'],inplace=True)
m = folium.Map(location=[37.394946, 127.111104], zoom_start=11)
data = df_test
HeatMap(data).add_to(m)
title_html = f'<h3 align="center" style="font-size:20px">{line} {start_month} - {end_month} 기간 {target}</h3>'
m.get_root().html.add_child(folium.Element(title_html))
m

In [ ]:
df.isna().sum()

In [ ]:
# 봉은사
# 삼성중앙
# 언주

In [ ]:
df_test2 = df[df.호선명 == '9호선'].copy()
df_test2

In [ ]:
df_test2.지하철역.unique()