In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/2021.csv', encoding='utf-8',sep=',')

In [3]:
df.head()

       사용일자  호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수
0  20210101  일산선     백석    2724    2825     5549
1  20210101  일산선     마두    1638    1652     3290
2  20210101  3호선  을지로3가    1024    1009     2033
3  20210101  3호선   종로3가    1255    1632     2887
4  20210101  3호선     안국    2934    3029     5963

In [4]:
df.호선명.unique()

array(['일산선', '3호선', '장항선', '중앙선', '4호선', '2호선', '1호선', '5호선', '6호선',
       '7호선', '수인선', '8호선', '9호선', '9호선2~3단계', '경강선', '경부선', '경원선', '경의선',
       '경인선', '경춘선', '공항철도 1호선', '과천선', '분당선', '안산선', '우이신설선'],
      dtype=object)

In [5]:
df.호선명.unique()[3]

'중앙선'

In [ ]:
# 호선 하나씩 추출

df.sort_values(by='사용일자').reset_index(drop=True)


for i in range(len(df.호선명)):
    k = df.호선명.unique()[i]
    df['호선명'] = k
    df.set_index('사용일자', inplace=True)
    df.reset_index(inplace=True)
    df.to_csv(f'호선별/{k}.csv', index=False, encoding='utf-8')

In [ ]:
df = pd.read_csv('호선별/공항철도.csv', encoding='utf-8', sep=',')
df.head()