In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
# 사용할 노선과 합쳐야 하는 노선 목록(중복역은 합계 후 중복 삭제예정)
# 1호선:서울지하철1호선(청량리~서울역), 경원선(소요산~청량리), 경부선(서울~천안/서동탄/광명), 장항선(천안~신창), 경인선(구로~인천)
# 2호선, 5호선, 6호선, 7호선, 8호선
# 3호선: 서울지하철3호선(지축~오금), 일산선(대화~지축)
# 4호선: 서울지하철4호선(당고개~남태령), 과천선(남태령~금정), 안산선(금정~오이도)
# 9호선: 9호선, 9호선(2~3)단계
# 수인분당선: 수인선(인천~수원), 분당선()
# 공항철도
# 신림선, 우이신설선
# 신분당선 데이터 없음, 김포 골드라인 없음, 용인 에버 없음

# 호선 분리하기 ex) 1호선, 경원선, 수인선 ......

# 월별 평일 승하차 각각 합계, 월별 주말 승하차 각각 합계

# 월별로 처리한 데이터 csv로 각 년도 폴더에 저장

In [3]:
# 2020 csv 열기
df = pd.read_csv('data/2020.csv', encoding='euc-kr')
df.head()

       사용일자    노선명          역명  승차총승객수  하차총승객수      등록일자
0  20200101    1호선          종각   20427   16301  20200104
1  20200101    1호선          시청   12126   10516  20200104
2  20200101  우이신설선         신설동     892     828  20200104
3  20200101  우이신설선          보문     917     855  20200104
4  20200101  우이신설선  성신여대입구(돈암)    2010    2363  20200104

In [4]:
# 결측치 확인
df.isna().sum().sum()

0

In [5]:
print(df['노선명'])

0           1호선
1           1호선
2         우이신설선
3         우이신설선
4         우이신설선
          ...
217050      경의선
217051      경의선
217052      경원선
217053      경원선
217054      경원선
Name: 노선명, Length: 217055, dtype: object

In [7]:
# 등록일자 삭제
df.drop(['등록일자'], axis=1, inplace=True)
df.head()

       사용일자    노선명          역명  승차총승객수  하차총승객수
0  20200101    1호선          종각   20427   16301
1  20200101    1호선          시청   12126   10516
2  20200101  우이신설선         신설동     892     828
3  20200101  우이신설선          보문     917     855
4  20200101  우이신설선  성신여대입구(돈암)    2010    2363

In [14]:
df['노선명'].unique()

array(['1호선', '우이신설선', '9호선2~3단계', '공항철도 1호선', '9호선', '8호선', '7호선', '6호선',
       '5호선', '경강선', '수인선', '경춘선', '경의선', '장항선', '중앙선', '일산선', '분당선',
       '과천선', '안산선', '경원선', '경인선', '경부선', '4호선', '3호선', '2호선'],
      dtype=object)

In [10]:
# 1호선 나누기
df1 = df[df['노선명']=='1호선'].copy()
df1.head()

         사용일자  노선명            역명  승차총승객수  하차총승객수
0    20200101  1호선            종각   20427   16301
1    20200101  1호선            시청   12126   10516
299  20200101  1호선           서울역   36470   29895
582  20200101  1호선           동묘앞    7580    7998
583  20200101  1호선  청량리(서울시립대입구)   13878   13997