In [168]:
import numpy as np
import pandas as pd
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [169]:
# 사용할 노선과 합쳐야 하는 노선 목록(중복역은 합계 후 중복 삭제예정)
# 1호선:서울지하철1호선(청량리~서울역), 경원선(소요산~청량리), 경부선(서울~천안/서동탄/광명), 장항선(천안~신창), 경인선(구로~인천)
# 2호선, 5호선, 6호선, 7호선, 8호선
# 3호선: 서울지하철3호선(지축~오금), 일산선(대화~지축)
# 4호선: 서울지하철4호선(당고개~남태령), 과천선(남태령~금정), 안산선(금정~오이도)
# 9호선: 9호선, 9호선(2~3)단계
# 수인분당선: 수인선(인천~수원), 분당선()
# 공항철도
# 신림선, 우이신설선
# 신분당선 데이터 없음, 김포 골드라인 없음, 용인 에버 없음

# 호선 분리하기 ex) 1호선, 경원선, 수인선 ......

# 월별 평일 승하차 각각 합계, 월별 주말 승하차 각각 합계

# 월별로 처리한 데이터 csv로 각 년도 폴더에 저장

In [170]:
# 2020 csv 열기
df = pd.read_csv('data/2020.csv', encoding='euc-kr', sep=',')
df.head()

       사용일자    노선명          역명  승차총승객수  하차총승객수      등록일자
0  20200101    1호선          종각   20427   16301  20200104
1  20200101    1호선          시청   12126   10516  20200104
2  20200101  우이신설선         신설동     892     828  20200104
3  20200101  우이신설선          보문     917     855  20200104
4  20200101  우이신설선  성신여대입구(돈암)    2010    2363  20200104

In [171]:
# 결측치 확인
df.isna().sum().sum()

0

In [172]:
# 등록일자 삭제
df.drop(['등록일자'], axis=1, inplace=True)
df.head()

       사용일자    노선명          역명  승차총승객수  하차총승객수
0  20200101    1호선          종각   20427   16301
1  20200101    1호선          시청   12126   10516
2  20200101  우이신설선         신설동     892     828
3  20200101  우이신설선          보문     917     855
4  20200101  우이신설선  성신여대입구(돈암)    2010    2363

In [173]:
df['승하차총승객수'] = df['승차총승객수'] + df['하차총승객수']
df.head()

       사용일자    노선명          역명  승차총승객수  하차총승객수  승하차총승객수
0  20200101    1호선          종각   20427   16301    36728
1  20200101    1호선          시청   12126   10516    22642
2  20200101  우이신설선         신설동     892     828     1720
3  20200101  우이신설선          보문     917     855     1772
4  20200101  우이신설선  성신여대입구(돈암)    2010    2363     4373

In [174]:
# 역명, 노선명 --> 지하철역, 호선명
df = df.rename(columns={'역명': '지하철역', '노선명':'호선명'})
df.head()

       사용일자    호선명        지하철역  승차총승객수  하차총승객수  승하차총승객수
0  20200101    1호선          종각   20427   16301    36728
1  20200101    1호선          시청   12126   10516    22642
2  20200101  우이신설선         신설동     892     828     1720
3  20200101  우이신설선          보문     917     855     1772
4  20200101  우이신설선  성신여대입구(돈암)    2010    2363     4373

In [175]:
# ()제거
df['지하철역'] = df['지하철역'].str.replace('(', ' ',regex=False,).str.split().str[0]

In [176]:
# 노선 이름 보기
df['호선명'].unique()

array(['1호선', '우이신설선', '9호선2~3단계', '공항철도 1호선', '9호선', '8호선', '7호선', '6호선',
       '5호선', '경강선', '수인선', '경춘선', '경의선', '장항선', '중앙선', '일산선', '분당선',
       '과천선', '안산선', '경원선', '경인선', '경부선', '4호선', '3호선', '2호선'],
      dtype=object)

In [177]:
# 사용일자를 datetime 타입으로 변환
df['사용일자'] = pd.to_datetime(df['사용일자'], format='%Y%m%d')

# 주말과 평일을 분리
is_weekend = df['사용일자'].dt.weekday.isin([5, 6])  # 주말인지 여부를 판단하는 조건식
weekend_df = df[is_weekend]  # 주말 데이터프레임
weekday_df = df[~is_weekend]  # 평일 데이터프레임

In [178]:
weekend_df.tail()

             사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
214659 2020-12-27  6호선   대흥    1953    2023     3976
214660 2020-12-27  6호선  광흥창    1983    1999     3982
214661 2020-12-27  6호선   상수    2312    2726     5038
214662 2020-12-27  6호선   합정    4258    3832     8090
214663 2020-12-27  6호선   망원    4691    5016     9707

In [179]:
weekday_df.tail()

             사용일자  호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수
217050 2020-12-31  경의선     신촌     541     633     1174
217051 2020-12-31  경의선    서울역    2512    3329     5841
217052 2020-12-31  경원선    소요산    1522    1401     2923
217053 2020-12-31  경원선    동두천    1379    1589     2968
217054 2020-12-31  경원선  동두천중앙    2155    2219     4374

- 월별 평일의 승하차 합계

In [180]:
# 사용일자를 월로 변환
weekday_df['월'] = weekday_df['사용일자'].dt.month

# 월별로 데이터프레임 나누기
monthly_dfs = {}
for month, group in weekday_df.groupby('월'):
    monthly_dfs[month] = group

# 각 월별 데이터프레임 출력
for month, df in monthly_dfs.items():
    print(f"\n{month}월 데이터프레임:")
    print(df.head())

1월 데이터프레임:
        사용일자    호선명    지하철역  승차총승객수  하차총승객수  승하차총승객수  월
0 2020-01-01    1호선      종각   20427   16301    36728  1
1 2020-01-01    1호선      시청   12126   10516    22642  1
2 2020-01-01  우이신설선     신설동     892     828     1720  1
3 2020-01-01  우이신설선      보문     917     855     1772  1
4 2020-01-01  우이신설선  성신여대입구    2010    2363     4373  1

2월 데이터프레임:
            사용일자  호선명  지하철역  승차총승객수  하차총승객수  승하차총승객수  월
19493 2020-02-03  1호선   서울역   48307   46039    94346  2
19494 2020-02-03  1호선    시청   25019   25472    50491  2
19495 2020-02-03  1호선    종각   43754   42847    86601  2
19496 2020-02-03  1호선  종로3가   29601   28159    57760  2
19497 2020-02-03  1호선  종로5가   24251   24394    48645  2

3월 데이터프레임:
            사용일자  호선명  지하철역  승차총승객수  하차총승객수  승하차총승객수  월
36019 2020-03-02  7호선    남성    8849    8235    17084  3
36020 2020-03-02  1호선   서울역   30750   29308    60058  3
36021 2020-03-02  1호선    시청   17804   18180    35984  3
36022 2020-03-02  1호선    종각   28844   28043    56887  3
36023 2020-03-02  1호선  종로3가   18431   17189    35620  3

4월 데이터프레임:
            사용일자  호선명  지하철역  승차총승객수  하차총승객수  승하차총승객수  월
53695 2020-04-01  장항선    아산    1557    1426     2983  4
53696 2020-04-01  1호선    종각   31105   30397    61502  4
53697 2020-04-01  1호선  종로3가   21991   20842    42833  4
53698 2020-04-01  1호선  종로5가   18925   19126    38051  4
53699 2020-04-01  1호선   동대문    9482    9373    18855  4

5월 데이터프레임:
            사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수  월
71417 2020-05-01  중앙선  운길산    1349    1358     2707  5
71418 2020-05-01  중앙선   팔당    1492    1712     3204  5
71419 2020-05-01  중앙선   도심    1691    1462     3153  5
71420 2020-05-01  중앙선   덕소    4303    4233     8536  5
71421 2020-05-01  중앙선   양정     645     599     1244  5

6월 데이터프레임:
            사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수  월
89744 2020-06-01  5호선  개화산    5145    4899    10044  6
89745 2020-06-01  3호선   불광   15920   17131    33051  6
89746 2020-06-01  2호선  신도림   47364   46161    93525  6
89747 2020-06-01  3호선  연신내   37604   35416    73020  6
89748 2020-06-01  3호선  구파발   20615   19107    39722  6

7월 데이터프레임:
             사용일자  호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수  월
107483 2020-07-01  3호선  남부터미널   28865   29827    58692  7
107484 2020-07-01  중앙선     지평      60      43      103  7
107485 2020-07-01  중앙선     용문    1661    1839     3500  7
107486 2020-07-01  중앙선     원덕     336     314      650  7
107487 2020-07-01  7호선     춘의    9404    9266    18670  7

8월 데이터프레임:
             사용일자  호선명  지하철역  승차총승객수  하차총승객수  승하차총승객수  월
126992 2020-08-03  안산선    중앙   13126   13711    26837  8
126993 2020-08-03  안산선   한대앞    6098    5882    11980  8
126994 2020-08-03  수인선  인천논현    4408    4583     8991  8
126995 2020-08-03  수인선  소래포구    3352    3210     6562  8
126996 2020-08-03  수인선    월곶    1815    1700     3515  8

9월 데이터프레임:
             사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수  월
144175 2020-09-01  일산선   주엽    6123    6290    12413  9
144176 2020-09-01  일산선   대화   10034    7923    17957  9
144177 2020-09-01  장항선   봉명     802     794     1596  9
144178 2020-09-01  장항선   쌍용    1335    1189     2524  9
144179 2020-09-01  중앙선   아신     382     387      769  9

10월 데이터프레임:
             사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수   월
162057 2020-10-01  2호선   시청    2118    1605     3723  10
162058 2020-10-01  1호선  청량리    6567    6637    13204  10
162059 2020-10-01  1호선  제기동    3450    3186     6636  10
162060 2020-10-01  1호선  신설동    3386    3300     6686  10
162061 2020-10-01  1호선  동대문    6187    6468    12655  10

11월 데이터프레임:
             사용일자  호선명  지하철역  승차총승객수  하차총승객수  승하차총승객수   월
181192 2020-11-02  경춘선  평내호평    6429    6187    12616  11
181193 2020-11-02  분당선    복정       1       0        1  11
181194 2020-11-02  1호선   동묘앞    8260    8719    16979  11
181195 2020-11-02  1호선    시청   22234   22211    44445  11
181196 2020-11-02  1호선    종각   37878   36956    74834  11

12월 데이터프레임:
             사용일자  호선명  지하철역  승차총승객수  하차총승객수  승하차총승객수   월
198537 2020-12-01  8호선  가락시장    7050    7931    14981  12
198538 2020-12-01  8호선    석촌    6902    7846    14748  12
198539 2020-12-01  8호선    잠실   11865   13466    25331  12
198540 2020-12-01  8호선  몽촌토성    4986    5191    10177  12
198541 2020-12-01  8호선  강동구청    9548   10062    19610  12

In [181]:
january_df = monthly_dfs.get(1)  # 1월의 데이터프레임 가져오기
january_df.head()

        사용일자    호선명    지하철역  승차총승객수  하차총승객수  승하차총승객수  월
0 2020-01-01    1호선      종각   20427   16301    36728  1
1 2020-01-01    1호선      시청   12126   10516    22642  1
2 2020-01-01  우이신설선     신설동     892     828     1720  1
3 2020-01-01  우이신설선      보문     917     855     1772  1
4 2020-01-01  우이신설선  성신여대입구    2010    2363     4373  1

In [182]:
# 월별로 그룹화하여 합계 계산
result_dfs = {}  # 결과를 담을 딕셔너리

for month, df in monthly_dfs.items():
    grouped_df = df.groupby(['사용일자','호선명', '지하철역'])['승차총승객수', '하차총승객수', '승하차총승객수'].sum().reset_index()
    result_dfs[month] = grouped_df

# 결과 출력
for month, result_df in result_dfs.items():
    print(f"{month}월 결과:")
    print(result_df.head())
    print()

1월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-01-01  1호선  동대문    8822    9558    18380
1 2020-01-01  1호선  동묘앞    7580    7998    15578
2 2020-01-01  1호선  서울역   36470   29895    66365
3 2020-01-01  1호선   시청   12126   10516    22642
4 2020-01-01  1호선  신설동    6820    6589    13409

2월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-02-03  1호선  동대문   11981   12001    23982
1 2020-02-03  1호선  동묘앞    7572    7863    15435
2 2020-02-03  1호선  서울역   48307   46039    94346
3 2020-02-03  1호선   시청   25019   25472    50491
4 2020-02-03  1호선  신설동   15527   15344    30871

3월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-03-02  1호선  동대문    8780    8767    17547
1 2020-03-02  1호선  동묘앞    5846    6042    11888
2 2020-03-02  1호선  서울역   30750   29308    60058
3 2020-03-02  1호선   시청   17804   18180    35984
4 2020-03-02  1호선  신설동   11925   11750    23675

4월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-04-01  1호선  동대문    9482    9373    18855
1 2020-04-01  1호선  동묘앞    6535    7013    13548
2 2020-04-01  1호선  서울역   31908   30546    62454
3 2020-04-01  1호선   시청   17943   17941    35884
4 2020-04-01  1호선  신설동   12191   12140    24331

5월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-05-01  1호선  동대문   11003   11647    22650
1 2020-05-01  1호선  동묘앞    8772    9589    18361
2 2020-05-01  1호선  서울역   25838   26496    52334
3 2020-05-01  1호선   시청    8763    8287    17050
4 2020-05-01  1호선  신설동    8901    8472    17373

6월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-06-01  1호선  동대문   11380   11945    23325
1 2020-06-01  1호선  동묘앞    7885    8429    16314
2 2020-06-01  1호선  서울역   41115   38861    79976
3 2020-06-01  1호선   시청   20304   20569    40873
4 2020-06-01  1호선  신설동   14482   14480    28962

7월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-07-01  1호선  동대문   11494   11731    23225
1 2020-07-01  1호선  동묘앞    8355    8708    17063
2 2020-07-01  1호선  서울역   41518   40054    81572
3 2020-07-01  1호선   시청   21647   22054    43701
4 2020-07-01  1호선  신설동   14855   14932    29787

8월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-08-03  1호선  동대문    9804    9719    19523
1 2020-08-03  1호선  동묘앞    5170    5554    10724
2 2020-08-03  1호선  서울역   41821   38854    80675
3 2020-08-03  1호선   시청   19168   19351    38519
4 2020-08-03  1호선  신설동   11604   11491    23095

9월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-09-01  1호선  동대문    9114    8962    18076
1 2020-09-01  1호선  동묘앞    6103    6317    12420
2 2020-09-01  1호선  서울역   28525   27107    55632
3 2020-09-01  1호선   시청   16465   16326    32791
4 2020-09-01  1호선  신설동   10746   10704    21450

10월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-10-01  1호선  동대문    6187    6468    12655
1 2020-10-01  1호선  동묘앞    4415    4773     9188
2 2020-10-01  1호선  서울역   13090   14290    27380
3 2020-10-01  1호선   시청    2989    2955     5944
4 2020-10-01  1호선  신설동    3386    3300     6686

11월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-11-02  1호선  동대문   11519   11770    23289
1 2020-11-02  1호선  동묘앞    8260    8719    16979
2 2020-11-02  1호선  서울역   43237   41172    84409
3 2020-11-02  1호선   시청   22234   22211    44445
4 2020-11-02  1호선  신설동   14700   14083    28783

12월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-12-01  1호선  동대문    9633    9282    18915
1 2020-12-01  1호선  동묘앞    7174    7260    14434
2 2020-12-01  1호선  서울역   34223   32123    66346
3 2020-12-01  1호선   시청   19416   19293    38709
4 2020-12-01  1호선  신설동   12591   12337    24928

In [183]:
import os

# 저장할 폴더 경로
folder_path = 'data/월별 평일'
os.makedirs(folder_path, exist_ok=True)  # 폴더가 없는 경우 생성

# 월별로 데이터프레임 저장하기
for month, df in result_dfs.items():
    filename = f"{month}월_평일.csv"
    file_path = os.path.join(folder_path, filename)  # 폴더 경로와 파일명을 결합
    df.to_csv(file_path, index=False)
    print(f"{file_path} 파일이 저장되었습니다.")

data/월별 평일\1월_평일.csv 파일이 저장되었습니다.
data/월별 평일\2월_평일.csv 파일이 저장되었습니다.
data/월별 평일\3월_평일.csv 파일이 저장되었습니다.
data/월별 평일\4월_평일.csv 파일이 저장되었습니다.
data/월별 평일\5월_평일.csv 파일이 저장되었습니다.
data/월별 평일\6월_평일.csv 파일이 저장되었습니다.
data/월별 평일\7월_평일.csv 파일이 저장되었습니다.
data/월별 평일\8월_평일.csv 파일이 저장되었습니다.
data/월별 평일\9월_평일.csv 파일이 저장되었습니다.
data/월별 평일\10월_평일.csv 파일이 저장되었습니다.
data/월별 평일\11월_평일.csv 파일이 저장되었습니다.
data/월별 평일\12월_평일.csv 파일이 저장되었습니다.

In [184]:
df_99 = pd.read_csv('data/월별 평일/1월_평일.csv')
df_99.head()

         사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0  2020-01-01  1호선  동대문    8822    9558    18380
1  2020-01-01  1호선  동묘앞    7580    7998    15578
2  2020-01-01  1호선  서울역   36470   29895    66365
3  2020-01-01  1호선   시청   12126   10516    22642
4  2020-01-01  1호선  신설동    6820    6589    13409

- 월별 주말 승하차 합계

In [185]:
# 사용일자를 월로 변환
weekend_df['월'] = weekend_df['사용일자'].dt.month

# 월별로 데이터프레임 나누기
monthly_dfs = {}
for month, group in weekend_df.groupby('월'):
    monthly_dfs[month] = group

# 각 월별 데이터프레임 출력
for month, df in monthly_dfs.items():
    print(f"\n{month}월 데이터프레임:")
    print(df.head())

1월 데이터프레임:
           사용일자    호선명    지하철역  승차총승객수  하차총승객수  승하차총승객수  월
1774 2020-01-04  우이신설선  북한산보국문    5117    4407     9524  1
1775 2020-01-04    1호선     서울역   48376   46823    95199  1
1776 2020-01-04    1호선      시청   22370   23449    45819  1
1777 2020-01-04    1호선      종각   35345   33183    68528  1
1778 2020-01-04    1호선    종로3가   34613   33921    68534  1

2월 데이터프레임:
            사용일자  호선명  지하철역  승차총승객수  하차총승객수  승하차총승객수  월
18312 2020-02-01  1호선    시청   13966   14315    28281  2
18313 2020-02-01  1호선    종각   24014   23628    47642  2
18314 2020-02-01  1호선  종로3가   25613   24969    50582  2
18315 2020-02-01  1호선  종로5가   19922   19765    39687  2
18316 2020-02-01  1호선   동대문   11346   11210    22556  2

3월 데이터프레임:
            사용일자       호선명    지하철역  승차총승객수  하차총승객수  승하차총승객수  월
35430 2020-03-01  공항철도 1호선      운서    3621    3795     7416  3
35431 2020-03-01     우이신설선     신설동     636     646     1282  3
35432 2020-03-01     우이신설선      보문     564     542     1106  3
35433 2020-03-01     우이신설선  성신여대입구    1170    1388     2558  3
35434 2020-03-01     우이신설선      정릉    1454    1253     2707  3

4월 데이터프레임:
            사용일자       호선명    지하철역  승차총승객수  하차총승객수  승하차총승객수  월
55471 2020-04-04  공항철도 1호선      운서    4294    4398     8692  4
55472 2020-04-04     우이신설선     신설동    1057    1049     2106  4
55473 2020-04-04     우이신설선      보문     923     971     1894  4
55474 2020-04-04     우이신설선  성신여대입구    2048    2430     4478  4
55475 2020-04-04     우이신설선      정릉    2555    2257     4812  4

5월 데이터프레임:
            사용일자  호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수  월
72008 2020-05-02  2호선     잠실   45826   42912    88738  5
72009 2020-05-02  2호선   잠실새내   12590   13244    25834  5
72010 2020-05-02  2호선  종합운동장    3541    3678     7219  5
72011 2020-05-02  2호선     삼성   20134   20116    40250  5
72012 2020-05-02  2호선     선릉   18267   16419    34686  5

6월 데이터프레임:
            사용일자  호선명  지하철역  승차총승객수  하차총승객수  승하차총승객수  월
92697 2020-06-06  6호선    구산    4306    3196     7502  6
92698 2020-06-06  안산선    정왕    4605    4824     9429  6
92699 2020-06-06  안산선  신길온천    1075    1051     2126  6
92700 2020-06-06  안산선    안산    8728    9016    17744  6
92701 2020-06-06  안산선    초지    2344    2476     4820  6

7월 데이터프레임:
             사용일자  호선명  지하철역  승차총승객수  하차총승객수  승하차총승객수  월
109259 2020-07-04  2호선    신당   10073   10036    20109  7
109260 2020-07-04  1호선  종로5가   16709   17251    33960  7
109261 2020-07-04  1호선  종로3가   21102   20529    41631  7
109262 2020-07-04  1호선    종각   18375   17930    36305  7
109263 2020-07-04  1호선    시청    8385    8662    17047  7

8월 데이터프레임:
             사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수  월
125812 2020-08-01  중앙선   오빈     249     239      488  8
125813 2020-08-01  중앙선   아신     467     595     1062  8
125814 2020-08-01  중앙선   국수     520     598     1118  8
125815 2020-08-01  2호선  한양대    3244    3022     6266  8
125816 2020-08-01  2호선  왕십리   11110    9769    20879  8

9월 데이터프레임:
             사용일자  호선명     지하철역  승차총승객수  하차총승객수  승하차총승객수  월
146546 2020-09-05  수인선  남동인더스파크     712     707     1419  9
146547 2020-09-05  1호선      서울역   14831   15107    29938  9
146548 2020-09-05  1호선      동묘앞    8369    8520    16889  9
146549 2020-09-05  1호선       시청    5134    4852     9986  9
146550 2020-09-05  1호선       종각    8854    8496    17350  9

10월 데이터프레임:
             사용일자  호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수   월
163250 2020-10-03  2호선  을지로3가    5228    5145    10373  10
163251 2020-10-03  2호선  을지로입구   16116   15410    31526  10
163252 2020-10-03  중앙선     도심    1316    1221     2537  10
163253 2020-10-03  중앙선     팔당    1951    2290     4241  10
163254 2020-10-03  중앙선    운길산    1894    1612     3506  10

11월 데이터프레임:
             사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수   월
180594 2020-11-01  중앙선   양수    1411    1337     2748  11
180595 2020-11-01  중앙선  운길산     734     689     1423  11
180596 2020-11-01  중앙선   팔당     921     913     1834  11
180597 2020-11-01  중앙선   도심    1070     985     2055  11
180598 2020-11-01  중앙선   덕소    3017    3102     6119  11

12월 데이터프레임:
             사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수   월
200931 2020-12-05  9호선  신목동    1637    1494     3131  12
200932 2020-12-05  수인선   어천     364     357      721  12
200933 2020-12-05  수인선  오목천    1264    1100     2364  12
200934 2020-12-05  수인선   고색    1528    1501     3029  12
200935 2020-12-05  분당선   매교    1477    1523     3000  12

In [186]:
january_df = monthly_dfs.get(1)  # 1월의 데이터프레임 가져오기
january_df.head()

           사용일자    호선명    지하철역  승차총승객수  하차총승객수  승하차총승객수  월
1774 2020-01-04  우이신설선  북한산보국문    5117    4407     9524  1
1775 2020-01-04    1호선     서울역   48376   46823    95199  1
1776 2020-01-04    1호선      시청   22370   23449    45819  1
1777 2020-01-04    1호선      종각   35345   33183    68528  1
1778 2020-01-04    1호선    종로3가   34613   33921    68534  1

In [187]:
# 월별로 그룹화하여 합계 계산
result_dfs2 = {}  # 결과를 담을 딕셔너리

for month, df in monthly_dfs.items():
    grouped_df = df.groupby(['사용일자','호선명', '지하철역'])['승차총승객수', '하차총승객수', '승하차총승객수'].sum().reset_index()
    result_dfs2[month] = grouped_df

# 결과 출력
for month, result_df in result_dfs2.items():
    print(f"{month}월 결과:")
    print(result_df.head())
    print()

1월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-01-04  1호선  동대문   13392   15219    28611
1 2020-01-04  1호선  동묘앞   13077   13909    26986
2 2020-01-04  1호선  서울역   48376   46823    95199
3 2020-01-04  1호선   시청   22370   23449    45819
4 2020-01-04  1호선  신설동   12452   11889    24341

2월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-02-01  1호선  동대문   11346   11210    22556
1 2020-02-01  1호선  동묘앞   10003   10716    20719
2 2020-02-01  1호선  서울역   34375   33070    67445
3 2020-02-01  1호선   시청   13966   14315    28281
4 2020-02-01  1호선  신설동   10517   10085    20602

3월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-03-01  1호선  동대문    4304    5054     9358
1 2020-03-01  1호선  동묘앞    5954    6020    11974
2 2020-03-01  1호선  서울역   10457   10389    20846
3 2020-03-01  1호선   시청    3980    3937     7917
4 2020-03-01  1호선  신설동    4440    4297     8737

4월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-04-04  1호선  동대문    8208    7575    15783
1 2020-04-04  1호선  동묘앞    8146    8705    16851
2 2020-04-04  1호선  서울역   17222   16881    34103
3 2020-04-04  1호선   시청    5902    5917    11819
4 2020-04-04  1호선  신설동    7380    6793    14173

5월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-05-02  1호선  동대문   10189   10335    20524
1 2020-05-02  1호선  동묘앞   10281   10987    21268
2 2020-05-02  1호선  서울역   25496   23653    49149
3 2020-05-02  1호선   시청    7179    6895    14074
4 2020-05-02  1호선  신설동    8163    7819    15982

6월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-06-06  1호선  동대문   10189   10374    20563
1 2020-06-06  1호선  동묘앞   10725   11054    21779
2 2020-06-06  1호선  서울역   24225   23730    47955
3 2020-06-06  1호선   시청    7156    7404    14560
4 2020-06-06  1호선  신설동    8322    7952    16274

7월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-07-04  1호선  동대문   10482   10864    21346
1 2020-07-04  1호선  동묘앞   10367   10832    21199
2 2020-07-04  1호선  서울역   26777   27862    54639
3 2020-07-04  1호선   시청    8385    8662    17047
4 2020-07-04  1호선  신설동    8972    8493    17465

8월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-08-01  1호선  동대문    9290    9591    18881
1 2020-08-01  1호선  동묘앞    6433    6494    12927
2 2020-08-01  1호선  서울역   26809   28682    55491
3 2020-08-01  1호선   시청    7488    7520    15008
4 2020-08-01  1호선  신설동    7507    7209    14716

9월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-09-05  1호선  동대문    7508    7093    14601
1 2020-09-05  1호선  동묘앞    8369    8520    16889
2 2020-09-05  1호선  서울역   14831   15107    29938
3 2020-09-05  1호선   시청    5134    4852     9986
4 2020-09-05  1호선  신설동    6625    6360    12985

10월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-10-03  1호선  동대문    7915    8018    15933
1 2020-10-03  1호선  동묘앞    9201    9856    19057
2 2020-10-03  1호선  서울역   22790   16647    39437
3 2020-10-03  1호선   시청    2613    1811     4424
4 2020-10-03  1호선  신설동    6048    6052    12100

11월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-11-01  1호선  동대문    7761    8841    16602
1 2020-11-01  1호선  동묘앞    7023    7211    14234
2 2020-11-01  1호선  서울역   26150   23312    49462
3 2020-11-01  1호선   시청    6647    6513    13160
4 2020-11-01  1호선  신설동    5602    5638    11240

12월 결과:
        사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0 2020-12-05  1호선  동대문    8468    7499    15967
1 2020-12-05  1호선  동묘앞    8919    9157    18076
2 2020-12-05  1호선  서울역   19947   19677    39624
3 2020-12-05  1호선   시청    6867    6604    13471
4 2020-12-05  1호선  신설동    7482    7165    14647

In [188]:
import os

# 저장할 폴더 경로
folder_path2 = 'data/월별 주말'
os.makedirs(folder_path2, exist_ok=True)  # 폴더가 없는 경우 생성

# 월별로 데이터프레임 저장하기
for month, df in result_dfs.items():
    filename = f"{month}월_주말.csv"
    file_path = os.path.join(folder_path2, filename)  # 폴더 경로와 파일명을 결합
    df.to_csv(file_path, index=False)
    print(f"{file_path} 파일이 저장되었습니다.")

data/월별 주말\1월_주말.csv 파일이 저장되었습니다.
data/월별 주말\2월_주말.csv 파일이 저장되었습니다.
data/월별 주말\3월_주말.csv 파일이 저장되었습니다.
data/월별 주말\4월_주말.csv 파일이 저장되었습니다.
data/월별 주말\5월_주말.csv 파일이 저장되었습니다.
data/월별 주말\6월_주말.csv 파일이 저장되었습니다.
data/월별 주말\7월_주말.csv 파일이 저장되었습니다.
data/월별 주말\8월_주말.csv 파일이 저장되었습니다.
data/월별 주말\9월_주말.csv 파일이 저장되었습니다.
data/월별 주말\10월_주말.csv 파일이 저장되었습니다.
data/월별 주말\11월_주말.csv 파일이 저장되었습니다.
data/월별 주말\12월_주말.csv 파일이 저장되었습니다.

In [189]:
df_999 = pd.read_csv('data/월별 주말/1월_주말.csv')
df_999.head()

         사용일자  호선명 지하철역  승차총승객수  하차총승객수  승하차총승객수
0  2020-01-01  1호선  동대문    8822    9558    18380
1  2020-01-01  1호선  동묘앞    7580    7998    15578
2  2020-01-01  1호선  서울역   36470   29895    66365
3  2020-01-01  1호선   시청   12126   10516    22642
4  2020-01-01  1호선  신설동    6820    6589    13409

In [190]:
df['사용일자'].dtype

dtype('<M8[ns]')