In [22]:
import numpy as np
import pandas as pd
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [23]:
# 사용할 노선과 합쳐야 하는 노선 목록(중복역은 합계 후 중복 삭제예정)
# 1호선:서울지하철1호선(청량리~서울역), 경원선(소요산~청량리), 경부선(서울~천안/서동탄/광명), 장항선(천안~신창), 경인선(구로~인천)
# 2호선, 5호선, 6호선, 7호선, 8호선
# 3호선: 서울지하철3호선(지축~오금), 일산선(대화~지축)
# 4호선: 서울지하철4호선(당고개~남태령), 과천선(남태령~금정), 안산선(금정~오이도)
# 9호선: 9호선, 9호선(2~3)단계
# 수인분당선: 수인선(인천~수원), 분당선()
# 공항철도
# 신림선, 우이신설선
# 신분당선 데이터 없음, 김포 골드라인 없음, 용인 에버 없음

# 호선 분리하기 ex) 1호선, 경원선, 수인선 ......

# 월별 평일 승하차 각각 합계, 월별 주말 승하차 각각 합계

# 월별로 처리한 데이터 csv로 각 년도 폴더에 저장

In [24]:
# 2020 csv 열기
df = pd.read_csv('data/2020.csv', encoding='euc-kr', sep=',')
df.head()

       사용일자    노선명          역명  승차총승객수  하차총승객수      등록일자
0  20200101    1호선          종각   20427   16301  20200104
1  20200101    1호선          시청   12126   10516  20200104
2  20200101  우이신설선         신설동     892     828  20200104
3  20200101  우이신설선          보문     917     855  20200104
4  20200101  우이신설선  성신여대입구(돈암)    2010    2363  20200104

In [25]:
# 결측치 확인
df.isna().sum().sum()

0

In [26]:
# 등록일자 삭제
df.drop(['등록일자'], axis=1, inplace=True)
df.head()

       사용일자    노선명          역명  승차총승객수  하차총승객수
0  20200101    1호선          종각   20427   16301
1  20200101    1호선          시청   12126   10516
2  20200101  우이신설선         신설동     892     828
3  20200101  우이신설선          보문     917     855
4  20200101  우이신설선  성신여대입구(돈암)    2010    2363

In [27]:
df['승하차총승객수'] = df['승차총승객수'] + df['하차총승객수']
df.head()

       사용일자    노선명          역명  승차총승객수  하차총승객수  승하차총승객수
0  20200101    1호선          종각   20427   16301    36728
1  20200101    1호선          시청   12126   10516    22642
2  20200101  우이신설선         신설동     892     828     1720
3  20200101  우이신설선          보문     917     855     1772
4  20200101  우이신설선  성신여대입구(돈암)    2010    2363     4373

In [28]:
# 노선 이름 보기
df['노선명'].unique()

array(['1호선', '우이신설선', '9호선2~3단계', '공항철도 1호선', '9호선', '8호선', '7호선', '6호선',
       '5호선', '경강선', '수인선', '경춘선', '경의선', '장항선', '중앙선', '일산선', '분당선',
       '과천선', '안산선', '경원선', '경인선', '경부선', '4호선', '3호선', '2호선'],
      dtype=object)

In [29]:
# 사용일자를 datetime 타입으로 변환
df['사용일자'] = pd.to_datetime(df['사용일자'], format='%Y%m%d')

# 주말과 평일을 분리
is_weekend = df['사용일자'].dt.weekday.isin([5, 6])  # 주말인지 여부를 판단하는 조건식
weekend_df = df[is_weekend]  # 주말 데이터프레임
weekday_df = df[~is_weekend]  # 평일 데이터프레임

In [30]:
weekend_df.tail()

             사용일자  노선명        역명  승차총승객수  하차총승객수  승하차총승객수
214659 2020-12-27  6호선  대흥(서강대앞)    1953    2023     3976
214660 2020-12-27  6호선   광흥창(서강)    1983    1999     3982
214661 2020-12-27  6호선        상수    2312    2726     5038
214662 2020-12-27  6호선        합정    4258    3832     8090
214663 2020-12-27  6호선        망원    4691    5016     9707

In [31]:
weekday_df.tail()

             사용일자  노선명     역명  승차총승객수  하차총승객수  승하차총승객수
217050 2020-12-31  경의선     신촌     541     633     1174
217051 2020-12-31  경의선    서울역    2512    3329     5841
217052 2020-12-31  경원선    소요산    1522    1401     2923
217053 2020-12-31  경원선    동두천    1379    1589     2968
217054 2020-12-31  경원선  동두천중앙    2155    2219     4374

- 월별 평일의 승하차 합계

In [32]:
# 사용일자를 월로 변환
weekday_df['월'] = weekday_df['사용일자'].dt.month

# 월별로 데이터프레임 나누기
monthly_dfs = {}
for month, group in weekday_df.groupby('월'):
    monthly_dfs[month] = group

# 각 월별 데이터프레임 출력
for month, df in monthly_dfs.items():
    print(f"\n{month}월 데이터프레임:")
    print(df.head())

1월 데이터프레임:
        사용일자    노선명          역명  승차총승객수  하차총승객수  승하차총승객수  월
0 2020-01-01    1호선          종각   20427   16301    36728  1
1 2020-01-01    1호선          시청   12126   10516    22642  1
2 2020-01-01  우이신설선         신설동     892     828     1720  1
3 2020-01-01  우이신설선          보문     917     855     1772  1
4 2020-01-01  우이신설선  성신여대입구(돈암)    2010    2363     4373  1

2월 데이터프레임:
            사용일자  노선명    역명  승차총승객수  하차총승객수  승하차총승객수  월
19493 2020-02-03  1호선   서울역   48307   46039    94346  2
19494 2020-02-03  1호선    시청   25019   25472    50491  2
19495 2020-02-03  1호선    종각   43754   42847    86601  2
19496 2020-02-03  1호선  종로3가   29601   28159    57760  2
19497 2020-02-03  1호선  종로5가   24251   24394    48645  2

3월 데이터프레임:
            사용일자  노선명    역명  승차총승객수  하차총승객수  승하차총승객수  월
36019 2020-03-02  7호선    남성    8849    8235    17084  3
36020 2020-03-02  1호선   서울역   30750   29308    60058  3
36021 2020-03-02  1호선    시청   17804   18180    35984  3
36022 2020-03-02  1호선    종각   28844   28043    56887  3
36023 2020-03-02  1호선  종로3가   18431   17189    35620  3

4월 데이터프레임:
            사용일자  노선명    역명  승차총승객수  하차총승객수  승하차총승객수  월
53695 2020-04-01  장항선    아산    1557    1426     2983  4
53696 2020-04-01  1호선    종각   31105   30397    61502  4
53697 2020-04-01  1호선  종로3가   21991   20842    42833  4
53698 2020-04-01  1호선  종로5가   18925   19126    38051  4
53699 2020-04-01  1호선   동대문    9482    9373    18855  4

5월 데이터프레임:
            사용일자  노선명   역명  승차총승객수  하차총승객수  승하차총승객수  월
71417 2020-05-01  중앙선  운길산    1349    1358     2707  5
71418 2020-05-01  중앙선   팔당    1492    1712     3204  5
71419 2020-05-01  중앙선   도심    1691    1462     3153  5
71420 2020-05-01  중앙선   덕소    4303    4233     8536  5
71421 2020-05-01  중앙선   양정     645     599     1244  5

6월 데이터프레임:
            사용일자  노선명   역명  승차총승객수  하차총승객수  승하차총승객수  월
89744 2020-06-01  5호선  개화산    5145    4899    10044  6
89745 2020-06-01  3호선   불광   15920   17131    33051  6
89746 2020-06-01  2호선  신도림   47364   46161    93525  6
89747 2020-06-01  3호선  연신내   37604   35416    73020  6
89748 2020-06-01  3호선  구파발   20615   19107    39722  6

7월 데이터프레임:
             사용일자  노선명            역명  승차총승객수  하차총승객수  승하차총승객수  월
107483 2020-07-01  3호선  남부터미널(예술의전당)   28865   29827    58692  7
107484 2020-07-01  중앙선            지평      60      43      103  7
107485 2020-07-01  중앙선            용문    1661    1839     3500  7
107486 2020-07-01  중앙선            원덕     336     314      650  7
107487 2020-07-01  7호선            춘의    9404    9266    18670  7

8월 데이터프레임:
             사용일자  노선명    역명  승차총승객수  하차총승객수  승하차총승객수  월
126992 2020-08-03  안산선    중앙   13126   13711    26837  8
126993 2020-08-03  안산선   한대앞    6098    5882    11980  8
126994 2020-08-03  수인선  인천논현    4408    4583     8991  8
126995 2020-08-03  수인선  소래포구    3352    3210     6562  8
126996 2020-08-03  수인선    월곶    1815    1700     3515  8

9월 데이터프레임:
             사용일자  노선명        역명  승차총승객수  하차총승객수  승하차총승객수  월
144175 2020-09-01  일산선        주엽    6123    6290    12413  9
144176 2020-09-01  일산선        대화   10034    7923    17957  9
144177 2020-09-01  장항선        봉명     802     794     1596  9
144178 2020-09-01  장항선  쌍용(나사렛대)    1335    1189     2524  9
144179 2020-09-01  중앙선        아신     382     387      769  9

10월 데이터프레임:
             사용일자  노선명            역명  승차총승객수  하차총승객수  승하차총승객수   월
162057 2020-10-01  2호선            시청    2118    1605     3723  10
162058 2020-10-01  1호선  청량리(서울시립대입구)    6567    6637    13204  10
162059 2020-10-01  1호선           제기동    3450    3186     6636  10
162060 2020-10-01  1호선           신설동    3386    3300     6686  10
162061 2020-10-01  1호선           동대문    6187    6468    12655  10

11월 데이터프레임:
             사용일자  노선명    역명  승차총승객수  하차총승객수  승하차총승객수   월
181192 2020-11-02  경춘선  평내호평    6429    6187    12616  11
181193 2020-11-02  분당선    복정       1       0        1  11
181194 2020-11-02  1호선   동묘앞    8260    8719    16979  11
181195 2020-11-02  1호선    시청   22234   22211    44445  11
181196 2020-11-02  1호선    종각   37878   36956    74834  11

12월 데이터프레임:
             사용일자  노선명          역명  승차총승객수  하차총승객수  승하차총승객수   월
198537 2020-12-01  8호선        가락시장    7050    7931    14981  12
198538 2020-12-01  8호선          석촌    6902    7846    14748  12
198539 2020-12-01  8호선    잠실(송파구청)   11865   13466    25331  12
198540 2020-12-01  8호선  몽촌토성(평화의문)    4986    5191    10177  12
198541 2020-12-01  8호선        강동구청    9548   10062    19610  12

In [33]:
january_df = monthly_dfs.get(1)  # 1월의 데이터프레임 가져오기
january_df.head()

        사용일자    노선명          역명  승차총승객수  하차총승객수  승하차총승객수  월
0 2020-01-01    1호선          종각   20427   16301    36728  1
1 2020-01-01    1호선          시청   12126   10516    22642  1
2 2020-01-01  우이신설선         신설동     892     828     1720  1
3 2020-01-01  우이신설선          보문     917     855     1772  1
4 2020-01-01  우이신설선  성신여대입구(돈암)    2010    2363     4373  1

In [34]:
# 월별로 그룹화하여 합계 계산
result_dfs = {}  # 결과를 담을 딕셔너리

for month, df in monthly_dfs.items():
    grouped_df = df.groupby(['노선명', '역명'])['승차총승객수', '하차총승객수', '승하차총승객수'].sum().reset_index()
    result_dfs[month] = grouped_df

# 결과 출력
for month, result_df in result_dfs.items():
    print(f"{month}월 결과:")
    print(result_df.head())
    print()

1월 결과:
   노선명   역명   승차총승객수   하차총승객수  승하차총승객수
0  1호선  동대문   299826   319224   619050
1  1호선  동묘앞   201491   210572   412063
2  1호선  서울역  1304813  1218162  2522975
3  1호선   시청   600933   608809  1209742
4  1호선  신설동   359967   350250   710217

2월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문  223137  225554   448691
1  1호선  동묘앞  140296  147438   287734
2  1호선  서울역  918283  868745  1787028
3  1호선   시청  481149  486640   967789
4  1호선  신설동  297053  290231   587284

3월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문  198267  194298   392565
1  1호선  동묘앞  133799  140711   274510
2  1호선  서울역  692093  655058  1347151
3  1호선   시청  394219  401549   795768
4  1호선  신설동  262554  257892   520446

4월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문  222773  224822   447595
1  1호선  동묘앞  158332  168711   327043
2  1호선  서울역  772932  741557  1514489
3  1호선   시청  390004  391334   781338
4  1호선  신설동  277479  273758   551237

5월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문  238577  244287   482864
1  1호선  동묘앞  166989  176439   343428
2  1호선  서울역  847721  802861  1650582
3  1호선   시청  411915  414055   825970
4  1호선  신설동  290484  288655   579139

6월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문  247393  252113   499506
1  1호선  동묘앞  170081  179344   349425
2  1호선  서울역  929658  886086  1815744
3  1호선   시청  461629  469420   931049
4  1호선  신설동  319925  317949   637874

7월 결과:
   노선명   역명   승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문   259005  264901   523906
1  1호선  동묘앞   176041  185287   361328
2  1호선  서울역  1014076  973305  1987381
3  1호선   시청   494934  507346  1002280
4  1호선  신설동   331684  329159   660843

8월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문  201447  202438   403885
1  1호선  동묘앞  136135  142064   278199
2  1호선  서울역  797065  757793  1554858
3  1호선   시청  387806  388401   776207
4  1호선  신설동  256217  254153   510370

9월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문  217104  215392   432496
1  1호선  동묘앞  153674  159371   313045
2  1호선  서울역  722519  704509  1427028
3  1호선   시청  383633  381945   765578
4  1호선  신설동  266422  263792   530214

10월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문  239480  244649   484129
1  1호선  동묘앞  177698  185719   363417
2  1호선  서울역  858336  812351  1670687
3  1호선   시청  424087  430121   854208
4  1호선  신설동  290773  289651   580424

11월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문  233880  234652   468532
1  1호선  동묘앞  163074  170382   333456
2  1호선  서울역  897558  852595  1750153
3  1호선   시청  458261  460089   918350
4  1호선  신설동  297410  282781   580191

12월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문  206002  195230   401232
1  1호선  동묘앞  144558  149459   294017
2  1호선  서울역  717701  680103  1397804
3  1호선   시청  388966  385181   774147
4  1호선  신설동  263646  259628   523274

In [35]:
import os

# 저장할 폴더 경로
folder_path = 'data/월별 평일'
os.makedirs(folder_path, exist_ok=True)  # 폴더가 없는 경우 생성

# 월별로 데이터프레임 저장하기
for month, df in result_dfs.items():
    filename = f"{month}월_평일.csv"
    file_path = os.path.join(folder_path, filename)  # 폴더 경로와 파일명을 결합
    df.to_csv(file_path, index=False)
    print(f"{file_path} 파일이 저장되었습니다.")

data/월별 평일\1월_평일.csv 파일이 저장되었습니다.
data/월별 평일\2월_평일.csv 파일이 저장되었습니다.
data/월별 평일\3월_평일.csv 파일이 저장되었습니다.
data/월별 평일\4월_평일.csv 파일이 저장되었습니다.
data/월별 평일\5월_평일.csv 파일이 저장되었습니다.
data/월별 평일\6월_평일.csv 파일이 저장되었습니다.
data/월별 평일\7월_평일.csv 파일이 저장되었습니다.
data/월별 평일\8월_평일.csv 파일이 저장되었습니다.
data/월별 평일\9월_평일.csv 파일이 저장되었습니다.
data/월별 평일\10월_평일.csv 파일이 저장되었습니다.
data/월별 평일\11월_평일.csv 파일이 저장되었습니다.
data/월별 평일\12월_평일.csv 파일이 저장되었습니다.

In [36]:
df_99 = pd.read_csv('data/월별 평일/1월_평일.csv')
df_99.head()

   노선명   역명   승차총승객수   하차총승객수  승하차총승객수
0  1호선  동대문   299826   319224   619050
1  1호선  동묘앞   201491   210572   412063
2  1호선  서울역  1304813  1218162  2522975
3  1호선   시청   600933   608809  1209742
4  1호선  신설동   359967   350250   710217

- 월별 주말 승하차 합계

In [37]:
# 사용일자를 월로 변환
weekend_df['월'] = weekend_df['사용일자'].dt.month

# 월별로 데이터프레임 나누기
monthly_dfs = {}
for month, group in weekend_df.groupby('월'):
    monthly_dfs[month] = group

# 각 월별 데이터프레임 출력
for month, df in monthly_dfs.items():
    print(f"\n{month}월 데이터프레임:")
    print(df.head())

1월 데이터프레임:
           사용일자    노선명      역명  승차총승객수  하차총승객수  승하차총승객수  월
1774 2020-01-04  우이신설선  북한산보국문    5117    4407     9524  1
1775 2020-01-04    1호선     서울역   48376   46823    95199  1
1776 2020-01-04    1호선      시청   22370   23449    45819  1
1777 2020-01-04    1호선      종각   35345   33183    68528  1
1778 2020-01-04    1호선    종로3가   34613   33921    68534  1

2월 데이터프레임:
            사용일자  노선명    역명  승차총승객수  하차총승객수  승하차총승객수  월
18312 2020-02-01  1호선    시청   13966   14315    28281  2
18313 2020-02-01  1호선    종각   24014   23628    47642  2
18314 2020-02-01  1호선  종로3가   25613   24969    50582  2
18315 2020-02-01  1호선  종로5가   19922   19765    39687  2
18316 2020-02-01  1호선   동대문   11346   11210    22556  2

3월 데이터프레임:
            사용일자       노선명          역명  승차총승객수  하차총승객수  승하차총승객수  월
35430 2020-03-01  공항철도 1호선          운서    3621    3795     7416  3
35431 2020-03-01     우이신설선         신설동     636     646     1282  3
35432 2020-03-01     우이신설선          보문     564     542     1106  3
35433 2020-03-01     우이신설선  성신여대입구(돈암)    1170    1388     2558  3
35434 2020-03-01     우이신설선          정릉    1454    1253     2707  3

4월 데이터프레임:
            사용일자       노선명          역명  승차총승객수  하차총승객수  승하차총승객수  월
55471 2020-04-04  공항철도 1호선          운서    4294    4398     8692  4
55472 2020-04-04     우이신설선         신설동    1057    1049     2106  4
55473 2020-04-04     우이신설선          보문     923     971     1894  4
55474 2020-04-04     우이신설선  성신여대입구(돈암)    2048    2430     4478  4
55475 2020-04-04     우이신설선          정릉    2555    2257     4812  4

5월 데이터프레임:
            사용일자  노선명        역명  승차총승객수  하차총승객수  승하차총승객수  월
72008 2020-05-02  2호선  잠실(송파구청)   45826   42912    88738  5
72009 2020-05-02  2호선      잠실새내   12590   13244    25834  5
72010 2020-05-02  2호선     종합운동장    3541    3678     7219  5
72011 2020-05-02  2호선  삼성(무역센터)   20134   20116    40250  5
72012 2020-05-02  2호선        선릉   18267   16419    34686  5

6월 데이터프레임:
            사용일자  노선명    역명  승차총승객수  하차총승객수  승하차총승객수  월
92697 2020-06-06  6호선    구산    4306    3196     7502  6
92698 2020-06-06  안산선    정왕    4605    4824     9429  6
92699 2020-06-06  안산선  신길온천    1075    1051     2126  6
92700 2020-06-06  안산선    안산    8728    9016    17744  6
92701 2020-06-06  안산선    초지    2344    2476     4820  6

7월 데이터프레임:
             사용일자  노선명    역명  승차총승객수  하차총승객수  승하차총승객수  월
109259 2020-07-04  2호선    신당   10073   10036    20109  7
109260 2020-07-04  1호선  종로5가   16709   17251    33960  7
109261 2020-07-04  1호선  종로3가   21102   20529    41631  7
109262 2020-07-04  1호선    종각   18375   17930    36305  7
109263 2020-07-04  1호선    시청    8385    8662    17047  7

8월 데이터프레임:
             사용일자  노선명         역명  승차총승객수  하차총승객수  승하차총승객수  월
125812 2020-08-01  중앙선         오빈     249     239      488  8
125813 2020-08-01  중앙선         아신     467     595     1062  8
125814 2020-08-01  중앙선         국수     520     598     1118  8
125815 2020-08-01  2호선        한양대    3244    3022     6266  8
125816 2020-08-01  2호선  왕십리(성동구청)   11110    9769    20879  8

9월 데이터프레임:
             사용일자  노선명       역명  승차총승객수  하차총승객수  승하차총승객수  월
146546 2020-09-05  수인선  남동인더스파크     712     707     1419  9
146547 2020-09-05  1호선      서울역   14831   15107    29938  9
146548 2020-09-05  1호선      동묘앞    8369    8520    16889  9
146549 2020-09-05  1호선       시청    5134    4852     9986  9
146550 2020-09-05  1호선       종각    8854    8496    17350  9

10월 데이터프레임:
             사용일자  노선명     역명  승차총승객수  하차총승객수  승하차총승객수   월
163250 2020-10-03  2호선  을지로3가    5228    5145    10373  10
163251 2020-10-03  2호선  을지로입구   16116   15410    31526  10
163252 2020-10-03  중앙선     도심    1316    1221     2537  10
163253 2020-10-03  중앙선     팔당    1951    2290     4241  10
163254 2020-10-03  중앙선    운길산    1894    1612     3506  10

11월 데이터프레임:
             사용일자  노선명   역명  승차총승객수  하차총승객수  승하차총승객수   월
180594 2020-11-01  중앙선   양수    1411    1337     2748  11
180595 2020-11-01  중앙선  운길산     734     689     1423  11
180596 2020-11-01  중앙선   팔당     921     913     1834  11
180597 2020-11-01  중앙선   도심    1070     985     2055  11
180598 2020-11-01  중앙선   덕소    3017    3102     6119  11

12월 데이터프레임:
             사용일자  노선명   역명  승차총승객수  하차총승객수  승하차총승객수   월
200931 2020-12-05  9호선  신목동    1637    1494     3131  12
200932 2020-12-05  수인선   어천     364     357      721  12
200933 2020-12-05  수인선  오목천    1264    1100     2364  12
200934 2020-12-05  수인선   고색    1528    1501     3029  12
200935 2020-12-05  분당선   매교    1477    1523     3000  12

In [38]:
january_df = monthly_dfs.get(1)  # 1월의 데이터프레임 가져오기
january_df.head()

           사용일자    노선명      역명  승차총승객수  하차총승객수  승하차총승객수  월
1774 2020-01-04  우이신설선  북한산보국문    5117    4407     9524  1
1775 2020-01-04    1호선     서울역   48376   46823    95199  1
1776 2020-01-04    1호선      시청   22370   23449    45819  1
1777 2020-01-04    1호선      종각   35345   33183    68528  1
1778 2020-01-04    1호선    종로3가   34613   33921    68534  1

In [39]:
# 월별로 그룹화하여 합계 계산
result_dfs2 = {}  # 결과를 담을 딕셔너리

for month, df in monthly_dfs.items():
    grouped_df = df.groupby(['노선명', '역명'])['승차총승객수', '하차총승객수', '승하차총승객수'].sum().reset_index()
    result_dfs2[month] = grouped_df

# 결과 출력
for month, result_df in result_dfs2.items():
    print(f"{month}월 결과:")
    print(result_df.head())
    print()

1월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문  107654  121247   228901
1  1호선  동묘앞   96607  101504   198111
2  1호선  서울역  345451  316391   661842
3  1호선   시청  129531  131997   261528
4  1호선  신설동   80372   77320   157692

2월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문   80741   84910   165651
1  1호선  동묘앞   77654   80200   157854
2  1호선  서울역  242351  231102   473453
3  1호선   시청   89337   87850   177187
4  1호선  신설동   76421   72868   149289

3월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문   54812   55968   110780
1  1호선  동묘앞   67456   69465   136921
2  1호선  서울역  123801  121245   245046
3  1호선   시청   43605   42671    86276
4  1호선  신설동   52205   49808   102013

4월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문   62031   64681   126712
1  1호선  동묘앞   76213   79162   155375
2  1호선  서울역  142522  137327   279849
3  1호선   시청   44272   43619    87891
4  1호선  신설동   54115   52087   106202

5월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문   90875   95987   186862
1  1호선  동묘앞   99613  103419   203032
2  1호선  서울역  233716  217870   451586
3  1호선   시청   66197   64981   131178
4  1호선  신설동   75587   74345   149932

6월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문   74141   79313   153454
1  1호선  동묘앞   84807   86514   171321
2  1호선  서울역  193380  181814   375194
3  1호선   시청   52336   52946   105282
4  1호선  신설동   63117   60887   124004

7월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문   73843   79638   153481
1  1호선  동묘앞   82229   85053   167282
2  1호선  서울역  206852  196054   402906
3  1호선   시청   64176   66480   130656
4  1호선  신설동   62639   60867   123506

8월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문   71249   73261   144510
1  1호선  동묘앞   68611   69152   137763
2  1호선  서울역  214064  207308   421372
3  1호선   시청   71371   70981   142352
4  1호선  신설동   60610   59346   119956

9월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문   61495   64439   125934
1  1호선  동묘앞   75590   76662   152252
2  1호선  서울역  138855  135063   273918
3  1호선   시청   43301   42003    85304
4  1호선  신설동   52575   51584   104159

10월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문   85929   91569   177498
1  1호선  동묘앞  100663  105295   205958
2  1호선  서울역  231123  210144   441267
3  1호선   시청   67462   68143   135605
4  1호선  신설동   68271   67087   135358

11월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문   82182   87206   169388
1  1호선  동묘앞   90433   92454   182887
2  1호선  서울역  236496  220638   457134
3  1호선   시청   73719   75511   149230
4  1호선  신설동   66090   62692   128782

12월 결과:
   노선명   역명  승차총승객수  하차총승객수  승하차총승객수
0  1호선  동대문   51939   51182   103121
1  1호선  동묘앞   64161   65075   129236
2  1호선  서울역  124645  117443   242088
3  1호선   시청   40179   38440    78619
4  1호선  신설동   45888   44651    90539

In [40]:
import os

# 저장할 폴더 경로
folder_path2 = 'data/월별 주말'
os.makedirs(folder_path2, exist_ok=True)  # 폴더가 없는 경우 생성

# 월별로 데이터프레임 저장하기
for month, df in result_dfs.items():
    filename = f"{month}월_주말.csv"
    file_path = os.path.join(folder_path2, filename)  # 폴더 경로와 파일명을 결합
    df.to_csv(file_path, index=False)
    print(f"{file_path} 파일이 저장되었습니다.")

data/월별 주말\1월_주말.csv 파일이 저장되었습니다.
data/월별 주말\2월_주말.csv 파일이 저장되었습니다.
data/월별 주말\3월_주말.csv 파일이 저장되었습니다.
data/월별 주말\4월_주말.csv 파일이 저장되었습니다.
data/월별 주말\5월_주말.csv 파일이 저장되었습니다.
data/월별 주말\6월_주말.csv 파일이 저장되었습니다.
data/월별 주말\7월_주말.csv 파일이 저장되었습니다.
data/월별 주말\8월_주말.csv 파일이 저장되었습니다.
data/월별 주말\9월_주말.csv 파일이 저장되었습니다.
data/월별 주말\10월_주말.csv 파일이 저장되었습니다.
data/월별 주말\11월_주말.csv 파일이 저장되었습니다.
data/월별 주말\12월_주말.csv 파일이 저장되었습니다.

In [41]:
df_999 = pd.read_csv('data/월별 주말/1월_주말.csv')
df_999.head()

   노선명   역명   승차총승객수   하차총승객수  승하차총승객수
0  1호선  동대문   299826   319224   619050
1  1호선  동묘앞   201491   210572   412063
2  1호선  서울역  1304813  1218162  2522975
3  1호선   시청   600933   608809  1209742
4  1호선  신설동   359967   350250   710217