In [13]:
import pandas as pd

In [14]:
df_local_info = pd.read_csv('../local_info.csv')
df_addr = pd.read_csv('../../st_addr_20230531.csv')

In [15]:
df_addr = df_addr.rename(columns={'역명':'지하철역'})
df_addr.head()

   지하철역                       도로명주소
0    서울  서울특별시 중구 세종대로 지하2(남대문로 5가)
1    시청     서울특별시 중구 세종대로 지하101(정동)
2    종각     서울특별시 종로구 종로 지하55(종로1가)
3  종로3가    서울특별시 종로구 종로 지하129(종로3가)
4  종로5가    서울특별시 종로구 종로 지하216(종로5가)

In [16]:
df_addr.shape, df_local_info.shape

((502, 2), (635, 2))

In [17]:
df_res = pd.concat([df_local_info, df_addr], axis=0)
df_res.head()

  지하철역                도로명주소
0   계양     인천광역시 계양구 다남로 24
1   귤현   인천광역시 계양구 장제로 1136
2   박촌    인천광역시 계양구 장제로 992
3   임학    인천광역시 계양구 장제로 875
4   계산  인천광역시 계양구 경명대로 1089

In [18]:
df_res.shape

(1137, 2)

In [19]:
df_res.drop_duplicates(subset='지하철역', keep='first', inplace=True)
df_res.shape

(670, 2)

In [20]:
df_res.to_csv('../local_info_2.csv', index=False)

In [21]:
df = pd.read_csv('../local_info_2.csv')
df.head()

  지하철역                도로명주소
0   계양     인천광역시 계양구 다남로 24
1   귤현   인천광역시 계양구 장제로 1136
2   박촌    인천광역시 계양구 장제로 992
3   임학    인천광역시 계양구 장제로 875
4   계산  인천광역시 계양구 경명대로 1089