In [8]:
import pandas as pd

In [14]:
df1 = pd.read_excel('data/경기도관광쇼핑지현황.xls')
df2 = pd.read_excel('data/경기도문화시설지현황.xls')
df3 = pd.read_excel('data/경기도역사관광지현황.xls')
df4 = pd.read_excel('data/경기도자연관광지현황.xls')

In [61]:
df1.head()

,시군명,위치명,전화번호,데이터기준일자,정제도로명주소,정제지번주소,정제우편번호,정제WGS84위도,정제WGS84경도
0,이천시,송파결정유연구소,031-633-6587,2021-03-05,경기도 이천시 신둔면 둔터로58,경기도 이천시 신둔면 수남리 175-1번지,17307.0,37.287932,127.400631
1,고양시,풍동 애니골,031-907-6080,2021-03-05,"경기도 고양시 일산동구 애니골길 15-46 (풍동,오푸스하임)",경기도 고양시 일산동구 풍동 1127-13번지 오푸스하임,10301.0,37.671926,126.789515
2,여주시,여주프리미엄아울렛,NaN,2021-03-05,경기도 여주시 명품로 360,경기도 여주시 상거동 460번지,12646.0,37.245211,127.613655
3,수원시,롯데몰(수원),031-8067-4000,2021-03-05,경기도 수원시 권선구 세화로 134 (서둔동),경기도 수원시 권선구 서둔동 381번지,16621.0,37.264101,126.997371
4,파주시,롯데프리미엄아울렛(파주점),031-960-2500,2021-03-05,경기도 파주시 회동길 390,경기도 파주시 문발동 645번지,10881.0,37.717792,126.693779

In [15]:
df1.isna().sum()

시군명           0
위치명           0
전화번호         28
데이터기준일자       0
정제도로명주소       1
정제지번주소        6
정제우편번호       18
정제WGS84위도    19
정제WGS84경도    19
dtype: int64

In [16]:
df1.dropna(inplace=True)
df1.isna().sum()

시군명          0
위치명          0
전화번호         0
데이터기준일자      0
정제도로명주소      0
정제지번주소       0
정제우편번호       0
정제WGS84위도    0
정제WGS84경도    0
dtype: int64

In [17]:
df2.head()

,시군명,시설명,전화번호,데이터기준일자,정제도로명주소,정제지번주소,정제우편번호,정제WGS84위도,정제WGS84경도
0,부천시,부천교육박물관,032-661-1282,2021-03-05,경기도 부천시 원미구 소사로 482,경기도 부천시 춘의동 8번지,14655.0,37.503164,126.796084
1,부천시,부천물박물관,032-625-3399,2021-03-05,경기도 부천시 오정구 길주로 691 까치울정수장 관리본관 1층,경기도 부천시 작동 산60-8번지 까치울정수장 관리본관 1층,14477.0,37.507292,126.819300
2,파주시,헤이리예술마을,031-946-8551,2021-03-05,경기도 파주시 탄현면 헤이리마을 59-78,경기도 파주시 탄현면 헤이리마을 59-78,NaN,NaN,NaN
3,파주시,인스퀘어(라임트리),031-957-0896,2021-03-05,경기도 파주시 탄현면 헤이리마을길 21-6,경기도 파주시 탄현면 법흥리 1652-277번지,10859.0,37.788095,126.696571
4,포천시,전통술박물관 산사원,031-531-9300,2021-03-05,경기도 포천시 화현면 화동로432번길 25,경기도 포천시 화현면 화현리 511번지,11123.0,37.905994,127.309906

In [18]:
df2.dropna(inplace=True)
df2.isna().sum()

시군명          0
시설명          0
전화번호         0
데이터기준일자      0
정제도로명주소      0
정제지번주소       0
정제우편번호       0
정제WGS84위도    0
정제WGS84경도    0
dtype: int64

In [19]:
df3.head()

,시군명,관광정보명,전화번호,데이터기준일자,정제도로명주소,정제지번주소,정제우편번호,정제WGS84위도,정제WGS84경도
0,용인시,처인성,031-324-3049,2021-03-05,경기도 용인시 남사면 아곡리 산43,경기도 용인시 처인구 남사읍 아곡리 산43,NaN,37.147587,127.168549
1,광주시,지수당,031-760-4821,2021-03-05,경기도 광주시 중부면 산성리 124-1,경기도 광주시 남한산성면 산성리 124-1,12700.0,37.475969,127.189316
2,광주시,연무관,031-760-4821,2021-03-05,경기도 광주시 중부면 산성리 400-1,경기도 광주시 남한산성면 산성리 400-1,12700.0,37.478217,127.186427
3,광주시,숭렬전,NaN,2021-03-05,경기도 광주시 중부면 남한산성로780번길 41-20,경기도 광주시 남한산성면 산성리 717번지,12700.0,37.481285,127.180395
4,구리시,아차산일대보루군,031-550-2546,2021-03-05,경기도 구리시 우미내길 50-140,경기도 구리시 아천동 57번지,11958.0,37.564197,127.104731

In [20]:
df3.dropna(inplace=True)
df3.isna().sum()

시군명          0
관광정보명        0
전화번호         0
데이터기준일자      0
정제도로명주소      0
정제지번주소       0
정제우편번호       0
정제WGS84위도    0
정제WGS84경도    0
dtype: int64

In [21]:
df4.head()

,시군명,관광정보명,소재주소,전화번호,데이터기준일자,정제WGS84위도,정제WGS84경도
0,파주시,임꺽정굴,경기도 파주시 적성면 설마천로 감악산 임꺽정굴,031-940-4612,2021-03-05,NaN,NaN
1,평택시,서해대교,경기도 평택시 포승읍 만호리 327-4,NaN,2021-03-05,NaN,NaN
2,김포시,재두루미도래지,경기도 김포시 하성면 가금리 538,NaN,2021-03-05,37.739559,126.602887
3,이천시,노성산말머리바위,경기도 이천시 설성면 진상미로 238-7 노성산,NaN,2021-03-05,NaN,NaN
4,안산시,구봉도낙조전망대,경기도 안산시 단원구 구봉타운길 43,031-1899-1720,2021-03-05,37.281067,126.551919

In [22]:
df4.dropna(inplace=True)
df4.isna().sum()

시군명          0
관광정보명        0
소재주소         0
전화번호         0
데이터기준일자      0
정제WGS84위도    0
정제WGS84경도    0
dtype: int64

In [23]:
df1['분류'] = '쇼핑'
df1.head()

,시군명,위치명,전화번호,데이터기준일자,정제도로명주소,정제지번주소,정제우편번호,정제WGS84위도,정제WGS84경도,분류
0,이천시,송파결정유연구소,031-633-6587,2021-03-05,경기도 이천시 신둔면 둔터로58,경기도 이천시 신둔면 수남리 175-1번지,17307.0,37.287932,127.400631,쇼핑
1,고양시,풍동 애니골,031-907-6080,2021-03-05,"경기도 고양시 일산동구 애니골길 15-46 (풍동,오푸스하임)",경기도 고양시 일산동구 풍동 1127-13번지 오푸스하임,10301.0,37.671926,126.789515,쇼핑
3,수원시,롯데몰(수원),031-8067-4000,2021-03-05,경기도 수원시 권선구 세화로 134 (서둔동),경기도 수원시 권선구 서둔동 381번지,16621.0,37.264101,126.997371,쇼핑
4,파주시,롯데프리미엄아울렛(파주점),031-960-2500,2021-03-05,경기도 파주시 회동길 390,경기도 파주시 문발동 645번지,10881.0,37.717792,126.693779,쇼핑
5,파주시,파주프리미엄아울렛,031-1644-4001,2021-03-05,경기도 파주시 탄현면 필승로 200,경기도 파주시 탄현면 법흥리 1790-8번지,10862.0,37.769356,126.696513,쇼핑

In [24]:
df2['분류'] = '문화'
df2.head()

,시군명,시설명,전화번호,데이터기준일자,정제도로명주소,정제지번주소,정제우편번호,정제WGS84위도,정제WGS84경도,분류
0,부천시,부천교육박물관,032-661-1282,2021-03-05,경기도 부천시 원미구 소사로 482,경기도 부천시 춘의동 8번지,14655.0,37.503164,126.796084,문화
1,부천시,부천물박물관,032-625-3399,2021-03-05,경기도 부천시 오정구 길주로 691 까치울정수장 관리본관 1층,경기도 부천시 작동 산60-8번지 까치울정수장 관리본관 1층,14477.0,37.507292,126.819300,문화
3,파주시,인스퀘어(라임트리),031-957-0896,2021-03-05,경기도 파주시 탄현면 헤이리마을길 21-6,경기도 파주시 탄현면 법흥리 1652-277번지,10859.0,37.788095,126.696571,문화
4,포천시,전통술박물관 산사원,031-531-9300,2021-03-05,경기도 포천시 화현면 화동로432번길 25,경기도 포천시 화현면 화현리 511번지,11123.0,37.905994,127.309906,문화
5,안성시,해닮,***-****-****,2021-03-05,경기도 안성시 금광면 배티로 781,경기도 안성시 금광면 개산리 204-10번지,17536.0,36.981790,127.305444,문화

In [25]:
df3['분류'] = '명소'
df3.head()

,시군명,관광정보명,전화번호,데이터기준일자,정제도로명주소,정제지번주소,정제우편번호,정제WGS84위도,정제WGS84경도,분류
1,광주시,지수당,031-760-4821,2021-03-05,경기도 광주시 중부면 산성리 124-1,경기도 광주시 남한산성면 산성리 124-1,12700.0,37.475969,127.189316,명소
2,광주시,연무관,031-760-4821,2021-03-05,경기도 광주시 중부면 산성리 400-1,경기도 광주시 남한산성면 산성리 400-1,12700.0,37.478217,127.186427,명소
4,구리시,아차산일대보루군,031-550-2546,2021-03-05,경기도 구리시 우미내길 50-140,경기도 구리시 아천동 57번지,11958.0,37.564197,127.104731,명소
6,김포시,덕포진,031-980-2965,2021-03-05,경기도 김포시 대곶면 신안리 산105,경기도 김포시 대곶면 신안리 산105,10041.0,37.652102,126.534210,명소
8,안성시,칠장사,031-673-0776,2021-03-05,경기도 안성시 죽산면 칠장로 399-18,경기도 안성시 죽산면 칠장리 764번지,17524.0,37.026328,127.396791,명소

In [26]:
df4['분류'] = '자연'
df4.head()

,시군명,관광정보명,소재주소,전화번호,데이터기준일자,정제WGS84위도,정제WGS84경도,분류
4,안산시,구봉도낙조전망대,경기도 안산시 단원구 구봉타운길 43,031-1899-1720,2021-03-05,37.281067,126.551919,자연
5,고양시,노래하는분수대,경기도 고양시 일산동구 호수로 595,031-924-5822,2021-03-05,37.654954,126.768760,자연
6,양평군,두물머리,경기도 양평군 양서면 양수리 697,031-770-1001,2021-03-05,37.533621,127.317477,자연
7,가평군,잣향기푸른숲,경기도 가평군 상면 축령로 289-146,031-8008-6769,2021-03-05,37.769210,127.332796,자연
8,가평군,청평호,경기도 가평군 설악면 회곡리 454-3,031-582-0088,2021-03-05,37.707137,127.454425,자연

In [27]:
df1.rename(columns={'위치명':'관광지명','정제도로명주소':'도로명주소','정제WGS84위도':'lat','정제WGS84경도':'lng'}, inplace=True)
df1.head()

,시군명,관광지명,전화번호,데이터기준일자,도로명주소,정제지번주소,정제우편번호,lat,lng,분류
0,이천시,송파결정유연구소,031-633-6587,2021-03-05,경기도 이천시 신둔면 둔터로58,경기도 이천시 신둔면 수남리 175-1번지,17307.0,37.287932,127.400631,쇼핑
1,고양시,풍동 애니골,031-907-6080,2021-03-05,"경기도 고양시 일산동구 애니골길 15-46 (풍동,오푸스하임)",경기도 고양시 일산동구 풍동 1127-13번지 오푸스하임,10301.0,37.671926,126.789515,쇼핑
3,수원시,롯데몰(수원),031-8067-4000,2021-03-05,경기도 수원시 권선구 세화로 134 (서둔동),경기도 수원시 권선구 서둔동 381번지,16621.0,37.264101,126.997371,쇼핑
4,파주시,롯데프리미엄아울렛(파주점),031-960-2500,2021-03-05,경기도 파주시 회동길 390,경기도 파주시 문발동 645번지,10881.0,37.717792,126.693779,쇼핑
5,파주시,파주프리미엄아울렛,031-1644-4001,2021-03-05,경기도 파주시 탄현면 필승로 200,경기도 파주시 탄현면 법흥리 1790-8번지,10862.0,37.769356,126.696513,쇼핑

In [28]:
df1 = df1[['관광지명','도로명주소','lat','lng','분류']]
df1.head()

,관광지명,도로명주소,lat,lng,분류
0,송파결정유연구소,경기도 이천시 신둔면 둔터로58,37.287932,127.400631,쇼핑
1,풍동 애니골,"경기도 고양시 일산동구 애니골길 15-46 (풍동,오푸스하임)",37.671926,126.789515,쇼핑
3,롯데몰(수원),경기도 수원시 권선구 세화로 134 (서둔동),37.264101,126.997371,쇼핑
4,롯데프리미엄아울렛(파주점),경기도 파주시 회동길 390,37.717792,126.693779,쇼핑
5,파주프리미엄아울렛,경기도 파주시 탄현면 필승로 200,37.769356,126.696513,쇼핑

In [29]:
df2.rename(columns={'시설명':'관광지명','정제도로명주소':'도로명주소','정제WGS84위도':'lat','정제WGS84경도':'lng'}, inplace=True)
df2.head()

,시군명,관광지명,전화번호,데이터기준일자,도로명주소,정제지번주소,정제우편번호,lat,lng,분류
0,부천시,부천교육박물관,032-661-1282,2021-03-05,경기도 부천시 원미구 소사로 482,경기도 부천시 춘의동 8번지,14655.0,37.503164,126.796084,문화
1,부천시,부천물박물관,032-625-3399,2021-03-05,경기도 부천시 오정구 길주로 691 까치울정수장 관리본관 1층,경기도 부천시 작동 산60-8번지 까치울정수장 관리본관 1층,14477.0,37.507292,126.819300,문화
3,파주시,인스퀘어(라임트리),031-957-0896,2021-03-05,경기도 파주시 탄현면 헤이리마을길 21-6,경기도 파주시 탄현면 법흥리 1652-277번지,10859.0,37.788095,126.696571,문화
4,포천시,전통술박물관 산사원,031-531-9300,2021-03-05,경기도 포천시 화현면 화동로432번길 25,경기도 포천시 화현면 화현리 511번지,11123.0,37.905994,127.309906,문화
5,안성시,해닮,***-****-****,2021-03-05,경기도 안성시 금광면 배티로 781,경기도 안성시 금광면 개산리 204-10번지,17536.0,36.981790,127.305444,문화

In [30]:
df2 = df2[['관광지명','도로명주소','lat','lng','분류']]
df2.head()

         관광지명                               도로명주소        lat         lng  분류
0     부천교육박물관                 경기도 부천시 원미구 소사로 482  37.503164  126.796084  문화
1      부천물박물관  경기도 부천시 오정구 길주로 691 까치울정수장 관리본관 1층  37.507292  126.819300  문화
3  인스퀘어(라임트리)             경기도 파주시 탄현면 헤이리마을길 21-6  37.788095  126.696571  문화
4  전통술박물관 산사원             경기도 포천시 화현면 화동로432번길 25  37.905994  127.309906  문화
5          해닮                 경기도 안성시 금광면 배티로 781  36.981790  127.305444  문화

In [31]:
df3.rename(columns={'관광정보명':'관광지명','정제도로명주소':'도로명주소','정제WGS84위도':'lat','정제WGS84경도':'lng'}, inplace=True)
df3.head()

,시군명,관광지명,전화번호,데이터기준일자,도로명주소,정제지번주소,정제우편번호,lat,lng,분류
1,광주시,지수당,031-760-4821,2021-03-05,경기도 광주시 중부면 산성리 124-1,경기도 광주시 남한산성면 산성리 124-1,12700.0,37.475969,127.189316,명소
2,광주시,연무관,031-760-4821,2021-03-05,경기도 광주시 중부면 산성리 400-1,경기도 광주시 남한산성면 산성리 400-1,12700.0,37.478217,127.186427,명소
4,구리시,아차산일대보루군,031-550-2546,2021-03-05,경기도 구리시 우미내길 50-140,경기도 구리시 아천동 57번지,11958.0,37.564197,127.104731,명소
6,김포시,덕포진,031-980-2965,2021-03-05,경기도 김포시 대곶면 신안리 산105,경기도 김포시 대곶면 신안리 산105,10041.0,37.652102,126.534210,명소
8,안성시,칠장사,031-673-0776,2021-03-05,경기도 안성시 죽산면 칠장로 399-18,경기도 안성시 죽산면 칠장리 764번지,17524.0,37.026328,127.396791,명소

In [32]:
df3 = df3[['관광지명','도로명주소','lat','lng','분류']]
df3.head()

       관광지명                   도로명주소        lat         lng  분류
1       지수당   경기도 광주시 중부면 산성리 124-1  37.475969  127.189316  명소
2       연무관   경기도 광주시 중부면 산성리 400-1  37.478217  127.186427  명소
4  아차산일대보루군     경기도 구리시 우미내길 50-140  37.564197  127.104731  명소
6       덕포진    경기도 김포시 대곶면 신안리 산105  37.652102  126.534210  명소
8       칠장사  경기도 안성시 죽산면 칠장로 399-18  37.026328  127.396791  명소

In [33]:
df4.rename(columns={'관광정보명':'관광지명','소재주소':'도로명주소','정제WGS84위도':'lat','정제WGS84경도':'lng'}, inplace=True)
df4.head()

,시군명,관광지명,도로명주소,전화번호,데이터기준일자,lat,lng,분류
4,안산시,구봉도낙조전망대,경기도 안산시 단원구 구봉타운길 43,031-1899-1720,2021-03-05,37.281067,126.551919,자연
5,고양시,노래하는분수대,경기도 고양시 일산동구 호수로 595,031-924-5822,2021-03-05,37.654954,126.768760,자연
6,양평군,두물머리,경기도 양평군 양서면 양수리 697,031-770-1001,2021-03-05,37.533621,127.317477,자연
7,가평군,잣향기푸른숲,경기도 가평군 상면 축령로 289-146,031-8008-6769,2021-03-05,37.769210,127.332796,자연
8,가평군,청평호,경기도 가평군 설악면 회곡리 454-3,031-582-0088,2021-03-05,37.707137,127.454425,자연

In [34]:
df4 = df4[['관광지명','도로명주소','lat','lng','분류']]
df4.head()

       관광지명                   도로명주소        lat         lng  분류
4  구봉도낙조전망대    경기도 안산시 단원구 구봉타운길 43  37.281067  126.551919  자연
5   노래하는분수대    경기도 고양시 일산동구 호수로 595  37.654954  126.768760  자연
6      두물머리     경기도 양평군 양서면 양수리 697  37.533621  127.317477  자연
7    잣향기푸른숲  경기도 가평군 상면 축령로 289-146  37.769210  127.332796  자연
8       청평호   경기도 가평군 설악면 회곡리 454-3  37.707137  127.454425  자연

In [35]:
df = pd.concat([df1,df2,df3,df4])
df.head()

,관광지명,도로명주소,lat,lng,분류
0,송파결정유연구소,경기도 이천시 신둔면 둔터로58,37.287932,127.400631,쇼핑
1,풍동 애니골,"경기도 고양시 일산동구 애니골길 15-46 (풍동,오푸스하임)",37.671926,126.789515,쇼핑
3,롯데몰(수원),경기도 수원시 권선구 세화로 134 (서둔동),37.264101,126.997371,쇼핑
4,롯데프리미엄아울렛(파주점),경기도 파주시 회동길 390,37.717792,126.693779,쇼핑
5,파주프리미엄아울렛,경기도 파주시 탄현면 필승로 200,37.769356,126.696513,쇼핑

In [36]:
df.to_csv('data/경기도통합.csv', index=False)

In [37]:
df1 = pd.read_csv('data/경기도통합.csv')
df1.head()

,관광지명,도로명주소,lat,lng,분류
0,송파결정유연구소,경기도 이천시 신둔면 둔터로58,37.287932,127.400631,쇼핑
1,풍동 애니골,"경기도 고양시 일산동구 애니골길 15-46 (풍동,오푸스하임)",37.671926,126.789515,쇼핑
2,롯데몰(수원),경기도 수원시 권선구 세화로 134 (서둔동),37.264101,126.997371,쇼핑
3,롯데프리미엄아울렛(파주점),경기도 파주시 회동길 390,37.717792,126.693779,쇼핑
4,파주프리미엄아울렛,경기도 파주시 탄현면 필승로 200,37.769356,126.696513,쇼핑

In [38]:
df2 = pd.read_csv('../../2021/data/서울.csv')
df2.head()

      관광지명                        도로명주소        lat         lng  분류  Unnamed: 0
0   세종문화회관   서울 종로구 세종대로 175  (세종문화회관)   37.571848  126.976168  명소         NaN
1  명동실탄사격장       서울 중구 명동8가길 27 선샤인빌딩3층  37.562001  126.986564  명소         NaN
2    서울랜드   경기 과천시 광명로 181 (막계동, 서울랜드)   37.436547  127.024045  명소         NaN
3      예지원    서울특별시 중구 장충단로 72 (장충동2가)   37.551638  127.002523  명소         NaN
4  DMC 홍보관   서울특별시 마포구 월드컵북로 366 (상암동)   37.577695  126.892115  명소         NaN

In [39]:
df = pd.concat([df1, df2])
df.head()

,관광지명,도로명주소,lat,lng,분류,Unnamed: 0
0,송파결정유연구소,경기도 이천시 신둔면 둔터로58,37.287932,127.400631,쇼핑,NaN
1,풍동 애니골,"경기도 고양시 일산동구 애니골길 15-46 (풍동,오푸스하임)",37.671926,126.789515,쇼핑,NaN
2,롯데몰(수원),경기도 수원시 권선구 세화로 134 (서둔동),37.264101,126.997371,쇼핑,NaN
3,롯데프리미엄아울렛(파주점),경기도 파주시 회동길 390,37.717792,126.693779,쇼핑,NaN
4,파주프리미엄아울렛,경기도 파주시 탄현면 필승로 200,37.769356,126.696513,쇼핑,NaN

In [40]:
df.to_csv('data/수도권.csv', index=False)