In [7]:
import pandas as pd

In [8]:
df_main = pd.read_csv('data/main/lines/2호선.csv')
df_main.head()

,사용월,호선명,지하철역,출근시간 승차인원,출근시간 하차인원,09-16시 승차인원,09-16시 하차인원,퇴근시간 승차인원,퇴근시간 하차인원,새벽 승차인원,새벽 하차인원,야간 승차인원,야간 하차인원,총 승차인원,총 하차인원
0,201501,2호선,강남,189760,701902,1042394,1603485,997168,769132,21847,14679,1059691,326193,2313692,2646259
1,201501,2호선,강변,293580,145018,686307,565678,293385,424408,10783,4758,211377,331701,1202047,1047155
2,201501,2호선,건대입구,225559,121100,431191,486054,271968,485591,23981,2167,370016,351397,1050747,960718
3,201501,2호선,교대,90862,269377,402326,622114,361967,243584,3676,6374,281092,136558,777956,1034423
4,201501,2호선,구로디지털단지,422624,409123,623114,596323,511836,458490,40909,6198,306909,443872,1393556,1455516

In [9]:
df_latlng = pd.read_csv('data/main/stn_r_addr_final.csv')
df_latlng.head()

  지하철역                도로명주소        lat         lng
0   계양     인천광역시 계양구 다남로 24  37.571609  126.736023
1   귤현   인천광역시 계양구 장제로 1136  37.566413  126.742649
2   박촌    인천광역시 계양구 장제로 992  37.554143  126.745539
3   임학    인천광역시 계양구 장제로 875  37.545062  126.738623
4   계산  인천광역시 계양구 경명대로 1089  37.543290  126.728081

In [10]:
df_latlng.drop(columns=['도로명주소'],inplace=True)

In [11]:
res = pd.merge(df_main,df_latlng,on='지하철역',how='left')
res.head()

,사용월,호선명,지하철역,출근시간 승차인원,출근시간 하차인원,09-16시 승차인원,09-16시 하차인원,퇴근시간 승차인원,퇴근시간 하차인원,새벽 승차인원,새벽 하차인원,야간 승차인원,야간 하차인원,총 승차인원,총 하차인원,lat,lng
0,201501,2호선,강남,189760,701902,1042394,1603485,997168,769132,21847,14679,1059691,326193,2313692,2646259,37.498165,127.028308
1,201501,2호선,강변,293580,145018,686307,565678,293385,424408,10783,4758,211377,331701,1202047,1047155,37.535169,127.094665
2,201501,2호선,건대입구,225559,121100,431191,486054,271968,485591,23981,2167,370016,351397,1050747,960718,37.540419,127.069173
3,201501,2호선,교대,90862,269377,402326,622114,361967,243584,3676,6374,281092,136558,777956,1034423,37.492818,127.013838
4,201501,2호선,구로디지털단지,422624,409123,623114,596323,511836,458490,40909,6198,306909,443872,1393556,1455516,37.485315,126.901494

In [12]:
res.to_csv('line2_test.csv',index=False)

In [16]:
# 호선 합치기전 버전
import pandas as pd

df_latlng = pd.read_csv('data/main/stn_r_addr_final.csv')
df_latlng.drop(columns=['도로명주소'], inplace=True)

lines = '1호선 2호선 3호선 4호선 5호선 6호선 7호선 8호선 9호선 수인분당선 경의중앙선'.split()
temp_list = []
for line in lines:
    df_main = pd.read_csv(f'data/main/lines/{line}.csv')
    temp = pd.merge(df_main, df_latlng, on='지하철역', how='left')
    temp_list.append(temp)
    # res.to_csv(f'data/main/heatmap_files/{line}_test.csv', index=False)
res = pd.concat(temp_list,axis=0)

In [19]:
# res.to_csv('data/main/heatmap_files/lines_4heatmap2.csv',index=False)

In [1]:
# 이거 쓸꺼임
import pandas as pd

df_latlng = pd.read_csv('data/main/stn_r_addr_final.csv')
df_latlng.drop(columns=['도로명주소'], inplace=True)

df_main = pd.read_csv('data/main/lines/merged_lines.csv')
res = pd.merge(df_main, df_latlng, on='지하철역', how='left')
res.to_csv('data/main/heatmap_files/lines_4heatmap.csv', index=False)