In [2]:
import numpy as np
import pandas as pd
import requests,json,os
from urllib.parse import quote 
import os,glob

In [2]:
# 관광지명, 도로명주소, lat, lng, 분류
df = pd.read_excel('data/서울시 관광 문화_ljh.XLSX', engine='openpyxl')

In [3]:
df.to_csv('data/main/temp_files/서울_문화.csv', index=False)

In [4]:
df = pd.read_csv('data/main/temp_files/서울_문화.csv', encoding='utf-8', sep=',')

In [5]:
df = df[(df['언어']) == 'ko']
df.head(4)

,고유번호,언어,상호명,주소,신주소,전화번호,웹사이트,운영시간,운영요일,휴무일,교통정보,홈페이지 운영 언어,유모차 대여 여부
0,305,ko,세종문화회관,110-821 서울 종로구 세종로 81-3,03172 서울 종로구 세종대로 175 (세종문화회관),02-399-1000,https://www.sejongpac.or.kr/portal/main/main.do,공연에 따라 이용 시간이 다름 * 현장 및 전화 예매 AM 09:00 ~ PM 0...,월~일,NaN,"5호선 광화문역 1번, 8번 출구 도보 5분 3호선 경복궁역 6번, 7번 출구...",NaN,NaN
2,380,ko,명동실탄사격장,100-860 서울 중구 충무로2가 11-1 선샤인빌딩3층,04537 서울 중구 명동8가길 27 선샤인빌딩3층,02-777-6604,http://www.koreashootingclub.com/gnuboard4/,평일 13:00 - 20:00 주말/공휴일 11:00 - 20:00,NaN,연중무휴,"4호선 명동역 8,9번 출구",NaN,NaN
5,1466,ko,서울랜드,경기 과천시 막계동 33,"13829 경기 과천시 광명로 181 (막계동, 서울랜드)",02-509-6000,http://www.seoulland.co.kr,"09:30 ~ 18:00, 20:00, 21:00, 22:00(축제일정 및 공원사정...",월 - 일,NaN,NaN,NaN,대여 가능
6,1546,ko,예지원,100-392 서울 중구 장충동2가 201-6,04605 서울특별시 중구 장충단로 72 (장충동2가),02-2253-2211,http://www.yejiwon.or.kr,※교육별 수강시간이 상이하므로 홈페이지 참조,NaN,일요일?공휴일 휴관,3호선 동대입구 2번 출구 420번 버스 탑승 후 국립극장 앞 하차 2호선 동대문 ...,NaN,NaN

In [6]:
df.언어.unique()

array(['ko'], dtype=object)

In [7]:
# 도로명주소만 남기기
df.rename(columns= {'상호명':'관광지명', '신주소':'도로명주소'}, inplace=True)
df = df[['관광지명', '도로명주소']]
df.reset_index(drop=True,inplace=True)
df.head()

      관광지명                              도로명주소
0   세종문화회관   03172 서울 종로구 세종대로 175  (세종문화회관)
1  명동실탄사격장       04537 서울 중구 명동8가길 27 선샤인빌딩3층
2    서울랜드   13829 경기 과천시 광명로 181 (막계동, 서울랜드)
3      예지원    04605 서울특별시 중구 장충단로 72 (장충동2가)
4  DMC 홍보관   03926 서울특별시 마포구 월드컵북로 366 (상암동)

In [8]:
df.nunique()

관광지명     200
도로명주소    198
dtype: int64

In [11]:
df.to_csv('data/서울_문화_명소.csv',index=False)

In [1]:
import numpy as np
import pandas as pd
import requests,json,os
from urllib.parse import quote 
import os,glob

In [2]:
df= pd.read_csv('data/서울_문화_명소.csv', encoding='utf-8', sep=',')
df.head()

      관광지명                              도로명주소
0   세종문화회관   03172 서울 종로구 세종대로 175  (세종문화회관)
1  명동실탄사격장       04537 서울 중구 명동8가길 27 선샤인빌딩3층
2    서울랜드   13829 경기 과천시 광명로 181 (막계동, 서울랜드)
3      예지원    04605 서울특별시 중구 장충단로 72 (장충동2가)
4  DMC 홍보관   03926 서울특별시 마포구 월드컵북로 366 (상암동)

In [3]:
df.isna().sum().sum()

0

In [4]:
df['관광지명'][150]

'한강 자전거 코스'

In [5]:
df.도로명주소[150].split(' ')[0]

'143-300'

In [6]:
# 도로명주소에서 우편번호 제거
addr_list = []
for i in df.index:
    addr1 = df.도로명주소[i].split(' ')[1:]
    df.도로명주소[i]= ' '.join(addr1)
    addr_list.append(df.도로명주소[i])
    # df.도로명주소[i] = df.도로명주소[i].split(' ')[1:]
addr_list

['서울 종로구 세종대로 175  (세종문화회관) ',
 '서울 중구 명동8가길 27 선샤인빌딩3층',
 '경기 과천시 광명로 181 (막계동, 서울랜드) ',
 '서울특별시 중구 장충단로 72 (장충동2가) ',
 '서울특별시 마포구 월드컵북로 366 (상암동) ',
 '서울 영등포구 여의공원로 13 (한국방송공사) ',
 '서울 중구 명동8가길 47 (충무로2가) 동양빌딩 2층',
 '서울특별시 광진구 동일로4길 56-10 (자양동) ',
 '서울 서초구 남부순환로 2364 (서초동, 국립국악원) ',
 '서울 광진구 구의강변로 45 (구의동, 구의동 복합빌딩) 지하 2층',
 '서울 서초구 강남대로107길 5 (잠원동, 크레신사옥) ',
 '서울 강남구 학동로 342 (논현동, 에스케이 허브블루) 209',
 '서울 영등포구 여의서로 160 (여의도동) ',
 '서울 마포구 어울마당로 35 (서교동) ',
 '서울 영등포구 여의동로 330 (여의도동, 한강사업본부 여의도안내센터) ',
 '서울 구로구 경인로 430 (고척동, 고척스카이돔) ',
 ' ',
 '서울특별시 종로구 계동길 33-13 ',
 '서울 종로구 계동4길 3 (계동) ',
 '서울 종로구 북촌로5길 19-12 (재동) ',
 '서울 종로구 북촌로11길 35-16 ',
 '서울 중구 정동길 3  ',
 '서울 중구 동호로 249 (장충동2가, 신라호텔) ',
 '서울 종로구 율곡로 102 (와룡동, 서울돈화문국악당) ',
 '서울 마포구 와우산로 146 (창전동, 그레이스빌딩) ',
 '서울 성동구 연무장1길 7-1 (성수동2가) ',
 '서울 마포구 양화로 176 (동교동, 동교동 스타피카소) 8층',
 '서울 용산구 회나무로39길 33 (이태원동) ',
 '서울 종로구 옥인1길 34 (옥인동, 박노수 가옥) ',
 '서울 강남구 논현로 425 (역삼동, 마이다스빌딩) 마이다스 빌딩 2층',
 '서울 중구 소월로 50 (힐튼호텔) ',
 '서울 종로구 가회동 218 ',
 '서울 종로구 창덕궁5길 4 (원서동)   ',
 '서울특별시 종로구 효자로 17  (통의동) ',
 '서울특별시 양천구 안양천로 939  (목동) ',
 '서울특별시 영등포구 여의동로 330 한강사업본부 여의도안내센터 ',
 '서울 종로구 대학로12길 46 (삼광빌딩) ',
 '서울 광진구 천호대로 664 (유니버설아트센터) ',
 '서울 영등포구 여의공원로 13 (KBS 신관) / 여의대방로 359 (KBS별관) ',
 '서울 종로구 자하문로13길 4-9 (통인동) ',
 '서울 종로구 삼일대로 386 (관철동, 시네코아) ',
 '서울 종로구 서순라길 83 (서울주얼리센터 제2관) ',
 '서울 마포구 백범로31길 21 (공덕동, 서울창업허브, 서울복지타운) ',
 '서울 서대문구 연세로5길 11 (창천동, 신촌플레이버스) ',
 '서울 관악구 은천로 28 (봉천동, 봉일프라자) 3층',
 '서울 마포구 동교로 282 (연남동) 2층',
 '서울 강남구 영동대로138길 23 (청담동) 지하 1층 ',
 '서울 용산구 이태원로 294 (한남동, 블루스퀘어) 3층 북파크라운지',
 '서울 종로구 종로 1 (종로1가, 교보생명빌딩) 지하 1층',
 '서울 종로구 종로33길 15 (연지동, 두산아트센터) ',
 '서울 송파구 삼학사로 136 (잠실동, 서울놀이마당) ',
 '서울 강남구 봉은사로 406 (삼성동, 서울중요무형문화재전수회관) ',
 '서울 종로구 세종대로 178 (세종로, KT 광화문 빌딩 West) ',
 '서울특별시 서초구 남부순환로 2406  (서초동) ',
 '서울특별시 중구 소파로 138  (예장동) ',
 '서울 종로구 계동길 103-7 (계동) ',
 '서울특별시 성북구 돈암동 ~ 정릉동 일대',
 '서울특별시 영등포구 국제금융로 10  (여의도동) ',
 '서울특별시 서초구 서초대로 397 (서초동) ',
 '서울특별시 광진구 워커힐로 177 (광장동, 그랜드워커힐서울) ',
 '서울 종로구 창덕궁5길 10 (원서동) ',
 '서울 종로구 창덕궁길 142 (원서동), 101호',
 '서울 종로구 인사동길 12 (인사동, 대일빌딩) 지하 1층',
 '서울 중구 명동길 26 (명동2가, 유네스코회관) ',
 '서울 서초구 올림픽대로 2085-14 세빛섬 골든블루 마리나',
 '서울 종로구 율곡로1길 36 (사간동) ',
 '서울 용산구 대사관로 35 (한남동) ',
 '서울 종로구 경희궁1길 1 (신문로2가, 주식회사 투바앤) ',
 '서울 종로구 북촌로5나길 114 (삼청동) ',
 '서울 중구 청계천로 160 (산림동, 세운청계상가) ',
 '서울 마포구 월드컵북로1길 26-9 (서교동, 선선빌딩) 2층',
 '서울 은평구 연서로50길 19 (진관동) ',
 '서울특별시 강남구 테헤란로87길 58  (삼성동) ',
 '서울특별시 종로구 창덕궁5길 16, 궁중음식연구원 (원서동) ',
 '서울 종로구 돈화문로 71 (와룡동, 떡박물관) ',
 '서울특별시 종로구 대학로12길 38, 정보빌딩 1층 (동숭동) ',
 '서울 중구 퇴계로 387 (흥인동, 충무아트센터) ',
 '서울 강남구 테헤란로7길 32 (역삼동, 국기원) ',
 '서울 마포구 증산로 14 (상암동, 에너지 제로 하우스) ',
 '서울 중구 동호로17길 173 (신당동) ',
 '서울 종로구 삼일대로30길 12 (낙원동, 서울조리전문학교) 3층',
 '서울 양천구 오목로 321-1 (목동, 서경빌딩) ',
 '서울 종로구 율곡로 3길 66-2 ',
 '서울 종로구 우정국로 56 (견지동) 템플스테이 종합정보센터 1층',
 '서울 성동구 자동차시장길 49 (용답동, 서울새활용플라자) ',
 '서울 은평구 통일로 684 (녹번동) ',
 '서울 서초구 태봉로 114 (우면동, 한국교원단체총연합) ',
 '서울 종로구 송월길 14-3 (신문로2가, 국도빌딩) ',
 '서울 광진구 워커힐로 177 (광장동, 워커힐호텔) ',
 '서울 중랑구 망우로87길 110 (망우동, 캠핑장관리소) ',
 '서울 종로구 인사동길 49 (관훈동) 안녕인사동 6층',
 '서울 동대문구 왕산로 22 (라마다 앙코르 동대문 호텔) 맹그로브 신설점',
 '서울 종로구 인왕산로 172 ',
 '서울 종로구 계동6길 13 (계동) ',
 '서울 마포구 동교로23길 64 (연남동) 지하',
 '서울 성동구 연무장17길 10 (성수동2가) ',
 '서울 중구 을지로 281 (을지로7가) 동대문디자인플라자 지하 2층 DDP 마켓 ',
 '서울 마포구 양화로 지하 188 (동교동, 홍대입구역) ',
 '서울특별시 강남구 삼성로 648 ',
 '서울 종로구 율곡로10길 13 (권농동) ',
 '서울특별시 송파구 올림픽로 25 (잠실동) ',
 '서울특별시 영등포구 도림로128가길 13-8 ',
 '서울 마포구 양화로16길 29 (홍익몰) ',
 '서울특별시 강남구 언주로150길 34 (논현동) ',
 '서울 종로구 북촌로12길 24-5 (가회동) ',
 '서울 노원구 한글비석로 160 (하계동, 서울시립과학관) ',
 '서울 마포구 와우산로 121  ',
 '서울 마포구 어울마당로 65 (서교동, 상상마당빌딩) ',
 '서울 중구 퇴계로36길 10 (필동2가, 한국의집) ',
 '서울 영등포구 63로 50 (63한화생명빌딩) ',
 '서울 성동구 성수이로14길 14 (성수동2가) ',
 '서울 종로구 창의문로5가길 2 (부암동) ',
 '서울시 성동구 뚝섬로 13길 33',
 '서울 용산구 한강대로 42 (한강로3가, 용산트레이드센터) 하이브 인사이트 지하 1, 2층',
 '서울 영등포구 63로 50 (여의도동, 63한화생명빌딩) ',
 '서울 양천구 목동동로 111(신정동) ',
 '서울 성북구 장위로21나길 11 (장위동) ',
 '서울 종로구 북촌로11가길 5 (가회동) ',
 '서울 강남구 논현로134길 9 (논현동) 신창빌딩 6층',
 '서울 중구 퇴계로34길 28 (남산한옥마을) ',
 '서울 광진구 능동로 238 (능동, 서울시민안전체험관광나루) ',
 '서울 중구 마른내로 47 (초동, 명보극장) ',
 '서울 동작구 보라매로5길 28 동작구민회관 ',
 '서울 용산구 소월로 322 (한남동, 하얏트호텔) ',
 '서울 종로구 지봉로 19 (시즌빌딩) 지하 1층',
 ' 서울 성동구 강변북로 257 (성수동 1가)  ',
 '서울 마포구 월드컵북로 19 (서교동, 대상빌딩) 3층',
 '서울특별시 강서구 방화대로 94 (외발산동) ',
 '서울 광진구 워커힐로 177 (광장동, 그랜드워커힐서울) ',
 '서울 영등포구 의사당대로 지하 101 (여의도역) ',
 '서울 광진구 능동로 209 (군자동, 세종대학교) ',
 '서울 중구 정동길 43 (정동, 정동극장) ',
 '서울 종로구 인사동길 44 쌈지길 (관훈동) ',
 '서울 용산구 한강대로23길 55 (한강로3가, 용산역) 현대 아이파크몰 6층 101호 팝콘D스퀘어',
 '서울 도봉구 마들로 932 (도봉동, 평화문화진지) ',
 '서울 관악구 낙성대로 101 (봉천동, 서울시과학전시관) ',
 '서울 구로구 오리로 1189 (오류동, 금강프라자) ',
 '서울시 서초구 올림픽대로 2085-14 (반포동)',
 '서울시 강남구 논현로 332 계유빌딩 B1',
 '서울 용산구 백범로87길 51 (원효로1가) 콤콤오락실',
 '서울 강남구 선릉로 818 (청담동, 디자이너클럽) 스매싱볼 청담점',
 '서울 관악구 남부순환로 1921-1 (봉천동, 범산빌딩) ',
 '서울 송파구 올림픽로 300 (신천동, 롯데월드타워앤드롯데월드몰) ',
 '서울 마포구 포은로 49 (합정동) ',
 '서울 송파구 송파대로37길 77 (가락동) ',
 '서울 강남구 논현로153길 53 (신사동, 피겨앤그라운드) ',
 '서울 종로구 필운대로5나길 3-1 (누하동) ',
 '서울 송파구 올림픽로 240 (롯데월드) ',
 '서울특별시 마포구 월드컵로 240 (성산동) 월드컵주경기장',
 '서울 광진구 워커힐로 177 (광장동, 그랜드워커힐서울) ',
 '한강 공원 ',
 '서울 중구 명동길 35 (명동1가, 명동예술극장) ',
 '서울 중구 명동8길 27 (명동2가, 엠 플라자) 5층',
 '서울 중구 소공로 48 (회현동2가, 우리금융남산타워) 1~2층',
 '서울 동대문구 천호대로4길 21 (신설동, 서울풍물시장) ',
 '서울 중구 명동길 26 (명동2가, 유네스코회관) ',
 '서울특별시 강남구 테헤란로92길 12-9  (대치동) ',
 '서울 강남구 선릉로153길 26 (신사동, 성준빌딩) 5층',
 '서울 중구 세종대로 110 (태평로1가, 서울시청) ',
 '서울 강남구 학동로97길 38 (청담동, 더하우스) 4층 ',
 '서울 영등포구 여의공원로 13 (여의도동, 한국방송공사) ',
 '서울 종로구 북촌로 50 3층 ',
 '서울 종로구 창덕궁5길 4 (원서동) ',
 '서울 종로구 북촌로11가길 14 (가회동) ',
 '서울 종로구 북촌로11나길 1-6 (가회동) ',
 '서울 종로구 창덕궁1가길 19 (원서동) ',
 '서울 강남구 언주로148길 5 (논현동) ',
 '서울 광진구 자양로5길 33 (자양동, 와이엠프라젠스파) ',
 '서울 성동구 청계천로 530 (마장동, 청계천박물관) 청계천 박물관 앞',
 '서울 중구 퇴계로 123 (충무로2가, 하이헤리엇) 10, 11F',
 '서울 동작구 여의대방로54길 18 (대방동, 서울여성플라자) ',
 '서울 마포구 잔다리로 5-1 ',
 '서울 서초구 서초대로73길 40 (서초동, 강남오피스텔) 지하 1층',
 '서울 광진구 아차산로 200 (자양동) 커먼그라운드 3층',
 '서울 중구 창경궁로 20 (예관동) 로컬스티치 크리에이터 타운 을지로',
 '서울 은평구 증산로17길 50 (신사동, 내를 건너서 숲으로 도서관) ',
 '서울 성북구 솔샘로7길 23 (정릉동) ',
 '서울 강남구 영동대로 513 코엑스몰 B1 ',
 '서울 중구 마른내로 47 (초동, 명보극장) 3층 점프전용극장',
 '서울 종로구 동숭길 122 (재단법인서울문화재단(대학로)) ',
 '서울특별시 종로구 대학로8길 7 (동숭동) ',
 '서울 노원구 화랑로 681 (공릉동, 태강릉) ',
 '서울특별시 종로구 윤보선길 27 (안국동) ',
 '서울 종로구 인사동12길 1 (관훈동) ',
 '서울특별시 종로구 인사동길 44, 지하 1층 (관훈동) ',
 '서울 마포구 희우정로1길 3 (YG엔터테인먼트) ',
 '서울 강동구 강동대로 205 (성내동, JYP Center) ',
 '서울 강남구 도산대로85길 46 ',
 '서울 강남구 도산대로 310 (논현동, 916빌딩) 5층',
 '서울 마포구 어울마당로 61 (서교동) ',
 '서울특별시 강남구 테헤란로79길 7 (삼성동) ',
 '서울시 마포구 동교로 19길 48 ',
 '서울 종로구 계동길 37 (계동) ',
 '서울 용산구 남산공원길 105 (용산동2가, YTN서울타워) ',
 '서울 성동구 연무장7길 12 (성수동2가, 세대빌딩) ',
 '서울 동대문구 회기로 117-3 (회기동, 한국농촌경제연구원) ',
 '서울 구로구 오류로 36-25 (오류동, 50플러스 남부캠퍼스) ',
 '서울 강남구 봉은사로 155 (논현동, 호텔 카푸치노) ',
 '서울 서초구 신반포로11길 39 (한강반포지구 내 유선장) The River',
 '서울 용산구 두텁바위로1길 69-1 (후암동) ']

In [3]:
# 도로명주소에서 우편번호 제거
for i in df.index:
    addr1 = df.도로명주소[i].split(' ')[1:]
    df.도로명주소[i] = (' '.join(addr1))
df.도로명주소

0                      서울 종로구 세종대로 175  (세종문화회관)
1                          서울 중구 명동8가길 27 선샤인빌딩3층
2                     경기 과천시 광명로 181 (막계동, 서울랜드)
3                       서울특별시 중구 장충단로 72 (장충동2가)
4                      서울특별시 마포구 월드컵북로 366 (상암동)
                          ...
195           서울 동대문구 회기로 117-3 (회기동, 한국농촌경제연구원)
196          서울 구로구 오류로 36-25 (오류동, 50플러스 남부캠퍼스)
197               서울 강남구 봉은사로 155 (논현동, 호텔 카푸치노)
198    서울 서초구 신반포로11길 39 (한강반포지구 내 유선장) The River
199                    서울 용산구 두텁바위로1길 69-1 (후암동)
Name: 도로명주소, Length: 200, dtype: object

In [40]:
type(df.도로명주소.values[1])

str

In [25]:
# 2 kakao API로 도로명 주소 구하는 함수
def kakao_location(place):
    with open('data/main/key/kakaoapikey.txt') as f_:
        kakao_key = f_.read()
    base_url = "https://dapi.kakao.com/v2/local/search/address.json"
    url = f'{base_url}?query={quote(place)}'
    header = {'Authorization':f'KakaoAK {kakao_key}'}
    result = requests.get(url, headers=header).json()
    lat_ = float(result['documents'][0]['y'])
    lng_ = float(result['documents'][0]['x'])
    return lat_,lng_

In [67]:
# 2
temp1 =[]
for i in df.index:
    try:
        # target = df['관광지명'][i].strip()
        temp1.append(kakao_location(df.도로명주소.values[i]))
    except:
        print(i, df.관광지명[i])
        
df_test = pd.DataFrame(temp1,columns=('lat','lng'))
df2 = pd.concat([df, df_test], axis=1)

11 MBK 엔터테인먼트
16 한류관광지
56 아리랑 영화의 거리
150 한강 자전거 코스
153 서울애니메이션센터
169 CGV 씨네 라이브러리
190 호텔 더 디자이너스 삼성점

In [65]:
# 2
temp1 =[]
for i in df.index[190:]:
    try:
        # target = df['관광지명'][i].strip()
        temp1.append(kakao_location(df.도로명주소.values[i]))
    except:
        print(i, df.관광지명[i])
        
df_test = pd.DataFrame(temp1,columns=('lat','lng'))
df2 = pd.concat([df, df_test], axis=1)

190 호텔 더 디자이너스 삼성점

In [68]:
df2.tail(10)

,관광지명,도로명주소,lat,lng
190,호텔 더 디자이너스 삼성점,서울특별시 강남구 테헤란로79길 7 (삼성동),37.506900,127.031496
191,리얼케이팝댄스(REAL K-POP DANCE),서울시 마포구 동교로 19길 48,37.507195,126.991688
192,북촌문화센터,서울 종로구 계동길 37 (계동),37.547082,126.975475
193,남산서울타워 한복문화 체험관,"서울 용산구 남산공원길 105 (용산동2가, YTN서울타워)",NaN,NaN
194,성수동 유니온스타 볼링클럽,"서울 성동구 연무장7길 12 (성수동2가, 세대빌딩)",NaN,NaN
195,서울바이오허브,"서울 동대문구 회기로 117-3 (회기동, 한국농촌경제연구원)",NaN,NaN
196,서울시50플러스 남부캠퍼스,"서울 구로구 오류로 36-25 (오류동, 50플러스 남부캠퍼스)",NaN,NaN
197,호텔 카푸치노,"서울 강남구 봉은사로 155 (논현동, 호텔 카푸치노)",NaN,NaN
198,더리버,서울 서초구 신반포로11길 39 (한강반포지구 내 유선장) The River,NaN,NaN
199,후암서재,서울 용산구 두텁바위로1길 69-1 (후암동),NaN,NaN

In [72]:
df2.dropna()

,관광지명,도로명주소,lat,lng
0,세종문화회관,서울 종로구 세종대로 175 (세종문화회관),37.571848,126.976168
1,명동실탄사격장,서울 중구 명동8가길 27 선샤인빌딩3층,37.562001,126.986564
2,서울랜드,"경기 과천시 광명로 181 (막계동, 서울랜드)",37.436547,127.024045
3,예지원,서울특별시 중구 장충단로 72 (장충동2가),37.551638,127.002523
4,DMC 홍보관,서울특별시 마포구 월드컵북로 366 (상암동),37.577695,126.892115
...,...,...,...,...
188,씨제스사옥,"서울 강남구 도산대로 310 (논현동, 916빌딩) 5층",37.592404,127.049177
189,티켓라운지 씬디,서울 마포구 어울마당로 61 (서교동),37.488474,126.841845
190,호텔 더 디자이너스 삼성점,서울특별시 강남구 테헤란로79길 7 (삼성동),37.506900,127.031496
191,리얼케이팝댄스(REAL K-POP DANCE),서울시 마포구 동교로 19길 48,37.507195,126.991688
192,북촌문화센터,서울 종로구 계동길 37 (계동),37.547082,126.975475

In [22]:
kakao_location('서울특별시마포구 월드컵북로 366 (상암동)')

(37.5776946420349, 126.89211485663)

In [ ]:
# # 검증
# temp = df2['관광지명'][10]
# rtn_addr(temp)

In [73]:
df2.shape

(200, 4)

In [74]:
# 4 처리 끝난 파일 저장
df2.to_csv('data/서울_문화_명소_final.csv',index=False)

In [75]:
# 읽어오기
df3 = pd.read_csv('data/서울_문화_명소_final.csv', encoding='utf-8', sep=',')

In [76]:
df3.head()

      관광지명                        도로명주소        lat         lng
0   세종문화회관   서울 종로구 세종대로 175  (세종문화회관)   37.571848  126.976168
1  명동실탄사격장       서울 중구 명동8가길 27 선샤인빌딩3층  37.562001  126.986564
2    서울랜드   경기 과천시 광명로 181 (막계동, 서울랜드)   37.436547  127.024045
3      예지원    서울특별시 중구 장충단로 72 (장충동2가)   37.551638  127.002523
4  DMC 홍보관   서울특별시 마포구 월드컵북로 366 (상암동)   37.577695  126.892115