In [1]:
import numpy as np
import pandas as pd
import requests,json,os
from urllib.parse import quote 
import os,glob

In [3]:
# 관광지명, 도로명주소, lat, lng, 분류
df = pd.read_excel('data/서울시 관광 쇼핑_ljh.XLSX', engine='openpyxl')
df.head(2)

,고유번호,언어,상호명,주소,신주소,전화번호,웹사이트,운영시간,교통정보
0,64,ja,トンデムン(東大門)ショッピングタウン,100-951 ソウル市中?乙支路6街,04564 ソウル市チュン(中)?チャンチュンダンロ253 (乙支路6街),-40,http://www.ddm-mall.co.kr/,店?により異なる,地下?4?線「トンデムン·ヨッサムンファゴンウォン」?1番、14番出口からすぐ 地下?4?線...
1,193,ja,トンデムン(東大門)チャンシンドン(昌信洞)玩具??り市場,110-841 ソウル市鐘路?昌信洞 390-29,03120 ソウル市チョンノ(鐘路)?チョンロ52ギル36 (昌信洞),-40,NaN,店?により異なる,地下?1?線「トンデムン」?4番出口徒?5分 地下?6?線「トンミョアプ」?6番出口徒?5分

In [4]:
df.to_csv('data/main/temp_files/서울_쇼핑.csv', index=False)

In [8]:
df = pd.read_csv('data/main/temp_files/서울_쇼핑.csv', encoding='utf-8', sep=',')
df.head(2)

,고유번호,언어,상호명,주소,신주소,전화번호,웹사이트,운영시간,교통정보
0,64,ja,トンデムン(東大門)ショッピングタウン,100-951 ソウル市中?乙支路6街,04564 ソウル市チュン(中)?チャンチュンダンロ253 (乙支路6街),-40,http://www.ddm-mall.co.kr/,店?により異なる,地下?4?線「トンデムン·ヨッサムンファゴンウォン」?1番、14番出口からすぐ 地下?4?線...
1,193,ja,トンデムン(東大門)チャンシンドン(昌信洞)玩具??り市場,110-841 ソウル市鐘路?昌信洞 390-29,03120 ソウル市チョンノ(鐘路)?チョンロ52ギル36 (昌信洞),-40,NaN,店?により異なる,地下?1?線「トンデムン」?4番出口徒?5分 地下?6?線「トンミョアプ」?6番出口徒?5分

In [9]:
df = df[(df['언어']) == 'ko']
df.head(4)

,고유번호,언어,상호명,주소,신주소,전화번호,웹사이트,운영시간,교통정보
4,281,ko,통인시장,110-043 서울 종로구 통인동 10-3,03036 서울 종로구 자하문로15길 18,02-722-0911,http://tonginmarket.co.kr,"통인시장 영업시간 : 7:00 ~ 21:00 ※ 상점에 따라 상이하며, 정확한 개점...",3호선 경복궁역 2번 출구 → 2번 출구와 3번 출구 사이 도로를 따라 직진
5,291,ko,신사동 가로수길,135-888 서울 강남구 신사동 530 일대,06028 서울 강남구 압구정로 120 일대,NaN,NaN,NaN,3호선 신사역 8번 출구 도보 10분
9,1272,ko,풍월당,"135-897 서울 강남구 신사동 657-37 성산빌딩 4, 5층","06018 서울 강남구 도산대로53길 39 (신사동, 신사동 C/K빌딩)",02-512-2222,http://www.pungwoldang.kr/,12:00 ~ 20:00 (KST),3호선 압구정역 2번 출구 버스환승 7호선 강남구청역 4번 출구 버스환승 ...
11,1770,ko,화개길 구두거리,서울 종로구 화동 화개길,서울 종로구 화동화개길,02-120,NaN,매장별로 차이가 있음,3호선 경복궁 5번 출구에서 약 1.5 킬로미터 3호선 안국 1번 출구에서 약 1킬...

In [4]:

df.언어.unique()

array(['ko'], dtype=object)

In [10]:
## 도로명주소 불안정 -> 주소도 같이 남김
df.rename(columns= {'상호명':'관광지명', '신주소':'도로명주소'}, inplace=True)
df = df[['관광지명', '도로명주소']]
df.reset_index(drop=True,inplace=True)
df.head()

       관광지명                                      도로명주소
0      통인시장                   03036 서울 종로구 자하문로15길 18
1  신사동 가로수길                   06028 서울 강남구 압구정로 120 일대
2       풍월당  06018 서울 강남구 도산대로53길 39 (신사동, 신사동 C/K빌딩)
3  화개길 구두거리                              서울 종로구 화동화개길
4     테크노마트       05116 서울 광진구 광나루로56길 85 (구의동 546-4)

In [11]:
df.nunique()

관광지명     162
도로명주소    160
dtype: int64

In [12]:
df.to_csv('data/서울_쇼핑.csv',index=False)

In [ ]:
df1= pd.read_csv('data/서울_쇼핑.csv', encoding='utf-8', sep=',')
df1

In [14]:
df1.head()

       관광지명                                      도로명주소
0      통인시장                   03036 서울 종로구 자하문로15길 18
1  신사동 가로수길                   06028 서울 강남구 압구정로 120 일대
2       풍월당  06018 서울 강남구 도산대로53길 39 (신사동, 신사동 C/K빌딩)
3  화개길 구두거리                              서울 종로구 화동화개길
4     테크노마트       05116 서울 광진구 광나루로56길 85 (구의동 546-4)

In [15]:
df1['관광지명'][1][:-1]

'신사동 가로수'

In [3]:
import numpy as np
import pandas as pd
import requests,json,os
from urllib.parse import quote 
import os,glob

In [2]:
df= pd.read_csv('data/서울_쇼핑.csv', encoding='utf-8', sep=',')
df

                          관광지명                                           도로명주소
0                         통인시장                        03036 서울 종로구 자하문로15길 18
1                     신사동 가로수길                        06028 서울 강남구 압구정로 120 일대
2                          풍월당       06018 서울 강남구 도산대로53길 39 (신사동, 신사동 C/K빌딩)
3                     화개길 구두거리                                   서울 종로구 화동화개길
4                        테크노마트            05116 서울 광진구 광나루로56길 85 (구의동 546-4)
..                         ...                                             ...
158  스타일난다 핑크 호텔 (명동 플래그십 스토어)        04536 서울 중구 명동8길 37-8 (충무로2가) 스타일난다 핑크호텔
159          아모레 플래그십 스토어 (성수)      04797 서울 성동구 아차산로11길 7 (성수동2가, (주)아세아이엔티)
160                       경리단길                     04344 서울 용산구 회나무로 일대(이태원동)
161                 명동문고 명동성당점           04537 서울 중구 명동길 66 (명동2가) 명동성당 지하 1층
162                        고투몰  06545 서울 서초구 신반포로 지하 200 (잠원동, 강남터미널지하쇼핑몰) 고투몰

[163 rows x 2 columns]

In [6]:
df= pd.read_csv('data/서울_쇼핑.csv', encoding='utf-8', sep=',')

In [ ]:
# 도로명주소에서 우편번호 제거
for i in df.index:
    addr1 = df.도로명주소[i].split(' ')[1:]
    df.도로명주소[i] = (' '.join(addr1))
df.도로명주소

In [8]:
# 2 kakao API로 도로명 주소 구하는 함수
def kakao_location(place):
    with open('data/main/key/kakaoapikey.txt') as f_:
        kakao_key = f_.read()
    base_url = "https://dapi.kakao.com/v2/local/search/address.json"
    url = f'{base_url}?query={quote(place)}'
    header = {'Authorization':f'KakaoAK {kakao_key}'}
    result = requests.get(url, headers=header).json()
    lat_ = float(result['documents'][0]['y'])
    lng_ = float(result['documents'][0]['x'])
    return lat_,lng_

In [9]:
# type(df.도로명주소[0])
df.도로명주소.values[1].strip()

'압구정로 120 일대'

In [11]:
# 3 2번 함수들 사용해서 좌표추가
temp1 =[]
for i in df.index:
    try:
        target = df['관광지명'][i].strip()
        # temp1.append(kakao_location(rtn_addr(target)))
        temp1.append(kakao_location(df.도로명주소.values[i]))
    except:
        print(i, df.도로명주소[i])
        
df_test = pd.DataFrame(temp1,columns=('lat','lng'))
df = pd.concat([df, df_test], axis=1)

3 화동화개길
12 nan
20 금천구 일대
48 마포구 포은로 일대
49 nan
50 nan
74 도봉구 쌍문동~창동 일대
81 강남구 청담동 패션 거리 일대
84 광진구 강변북로 139 (자양동, 한강사업본부뚝섬안내센터)
105 금천구 가산동 산업 2ㆍ3단지 및 단지 주변지역 일대
108 서초구 방배천로 4길 사당역 공영주차장
122 nan
128 용산구 이태원로 27나길 (이태원동)  일대
133 강남구 압구정로12길 24 (신사동)
134 nan
135 강남구 압구정로12길 40 (신사동)
159 용산구 회나무로 일대(이태원동)

In [93]:
kakao_location('서울특별시 양천구 목동로25길	')

(37.5280548976635, 126.861763072861)

In [18]:
df.head(10)

       관광지명                         도로명주소        lat         lng
0      통인시장                   자하문로15길 18   37.580767  126.969948
1  신사동 가로수길                   압구정로 120 일대  37.523606  127.021903
2       풍월당  도산대로53길 39 (신사동, 신사동 C/K빌딩)   37.525828  127.038922
3  화개길 구두거리                        화동화개길   37.535725  127.095692
4     테크노마트       광나루로56길 85 (구의동 546-4)   37.563091  126.982958
5     콴챈루거리           명동2길 27  (명동2가) 일대   37.528055  126.861763
6  목동 로데오거리                       목동로25길   37.573391  127.023027
7   동묘 벼룩시장                난계로 243 (숭인동)   37.578432  126.969345
8     서촌구루루                필운대로 26 (누하동)   37.526570  127.034530
9    자비시주얼리   압구정로42길 36 (신사동, 금광아크존1) 1층  37.500794  127.025773

In [21]:
df.isna().sum()

관광지명      0
도로명주소     5
lat      17
lng      17
dtype: int64

In [22]:
df1 = df.dropna()
df1.isna().sum()

관광지명     0
도로명주소    0
lat      0
lng      0
dtype: int64

In [23]:
# 4 처리 끝난 파일 저장
df1.to_csv('data/서울_쇼핑_final.csv',index=False)

In [25]:
df2 = pd.read_csv('data/서울_쇼핑_final.csv')
df2.tail(10)

,관광지명,도로명주소,lat,lng
130,정샘물 플롭스,강남구 압구정로12길 40 (신사동),37.561263,126.984116
131,씨제이더마켓 제일제당센터점,"중구 동호로 330 (쌍림동, 씨제이제일제당센터) 지하1층",37.573482,126.985509
132,평화시장,중구 청계천로 274 (을지로6가) 평화시장,37.580973,126.966856
133,카카오프렌즈 홍대 플래그십 스토어,"마포구 양화로 162 (동교동, 좋은사람들 빌딩) 좋은사람들빌딩 1~3층",37.525875,127.041962
134,남성사계시장,동작구 동작대로29나길 10,37.548532,127.021689
135,공덕시장,"마포구 만리재로 19 (공덕동, 공덕시장)",37.477615,127.124962
136,커먼그라운드,광진구 아차산로 200 (자양동) 커먼그라운드,37.562090,126.985040
137,상생상회,종로구 율곡로 39 (안국동) 안국빌딩 신관 1층/B1 층,37.544548,127.059042
138,아더 스페이스 3.0 플래그십 스토어,"강남구 도산대로11길 31 (신사동, 에스에이치스페이스)",37.563929,126.986034
139,남대문시장 칼국수골목,중구 남대문시장4길 42-1 (남창동),37.506220,127.005052