In [1]:
import pandas as pd
import numpy as np
import folium
from folium.plugins import HeatMap

In [2]:
df_main = pd.read_csv('D:/workspace/팀프로젝트/lines/공항철도.csv')
df_main.tail()

FileNotFoundError: [Errno 2] No such file or directory: 'D:/workspace/data/lines/공항철도.csv'

In [97]:
df_main = df_main[(df_main.사용월 >= 202201)&(df_main.사용월 < 202301)].copy()
df_main.tail()

         사용월  호선명 지하철역  승차총승객수  하차총승객수  총 승차인원  총 하차인원
6930  202212  경춘선  백양리     341     287     341     287
6931  202212  경춘선   강촌     438     459     438     459
6932  202212  경춘선  김유정     378     416     378     416
6933  202212  경춘선  남춘천    2507    2570    2507    2570
6934  202212  경춘선   춘천    1281    1378    1281    1378

In [98]:
df_main.drop(columns=['호선명','사용월'],inplace=True)
df_main.tail()

     지하철역  승차총승객수  하차총승객수  총 승차인원  총 하차인원
6930  백양리     341     287     341     287
6931   강촌     438     459     438     459
6932  김유정     378     416     378     416
6933  남춘천    2507    2570    2507    2570
6934   춘천    1281    1378    1281    1378

In [99]:
df_latlng = pd.read_csv('D:/workspace/data/data/stn_r_addr_final.csv')
df_latlng.head()

  지하철역                도로명주소        lat         lng
0   계양     인천광역시 계양구 다남로 24  37.571609  126.736023
1   귤현   인천광역시 계양구 장제로 1136  37.566413  126.742649
2   박촌    인천광역시 계양구 장제로 992  37.554143  126.745539
3   임학    인천광역시 계양구 장제로 875  37.545062  126.738623
4   계산  인천광역시 계양구 경명대로 1089  37.543290  126.728081

In [100]:
df_latlng.drop(columns=['도로명주소'],inplace=True)

In [101]:
res = pd.merge(df_main,df_latlng,on='지하철역',how='left')
res.head()

  지하철역  승차총승객수  하차총승객수  총 승차인원  총 하차인원        lat         lng
0   춘천     976     904     976     904  37.884668  127.717004
1  남춘천    1573    1664    1573    1664  37.864044  127.723915
2  김유정     207     200     207     200  37.819633  127.716617
3   강촌     304     319     304     319  37.805806  127.634126
4  백양리     326     255     326     255  37.830833  127.589196

In [102]:
res.to_csv('lat/공항철도.csv',index=False)